* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {

    .light,
    :root,
    ::backdrop {

        --b1: 100%;
        --b2: 90%;
        --b3: 85%;

        --f1: 15%;
        --f2: 15%;
        --f3: 15%;

        --m1: 40%;
        --m2: 35%;
        --m3: 30%;

        --red-hue: 0deg;
        --red-sat: 100%;
        --red-lit: 35%;

        --green-hue: 150deg;
        --green-sat: 100%;
        --green-lit: 15%;

        --blue-hue: 200deg;
        --blue-sat: 100%;
        --blue-lit: 20%;

        --yellow-hue: 50deg;
        --yellow-sat: 100%;
        --yellow-lit: 25%;

        --base-hue: 0deg;
        --base-sat: 0%;

        --accent-hue: 0deg;
        --accent-sat: 0%;
        --accent-lit: 10%;

        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {

    .dark,
    :root,
    ::backdrop {

        --b1: 0%;
        /* --b1: 5%; */
        --b2: 10%;
        --b3: 15%;

        --f1: 85%;
        --f2: 85%;
        --f3: 85%;

        --m1: 60%;
        --m2: 65%;
        --m3: 75%;

        --red-hue: 0deg;
        --red-sat: 100%;
        --red-lit: 75%;

        --green-hue: 150deg;
        --green-sat: 100%;
        --green-lit: 40%;

        --blue-hue: 200deg;
        --blue-sat: 100%;
        --blue-lit: 55%;

        --yellow-hue: 50deg;
        --yellow-sat: 100%;
        --yellow-lit: 40%;

        --base-hue: 0deg;
        --base-sat: 0%;

        --accent-hue: 0deg;
        --accent-sat: 0%;
        --accent-lit: 90%;

        color-scheme: dark;
    }
}

:root,
::backdrop {

    --red: hsl(var(--red-hue), var(--red-sat), var(--red-lit));
    --red-fore: hsl(var(--red-hue), var(--red-sat), var(--red-lit));
    --red-back: hsl(var(--red-hue), var(--red-sat), var(--red-lit), 0.1);

    --green: hsl(var(--green-hue), var(--green-sat), var(--green-lit));
    --green-fore: hsl(var(--green-hue), var(--green-sat), var(--green-lit));
    --green-back: hsl(var(--green-hue), var(--green-sat), var(--green-lit), 0.1);

    --blue: hsl(var(--blue-hue), var(--blue-sat), var(--blue-lit));
    --blue-fore: hsl(var(--blue-hue), var(--blue-sat), var(--blue-lit));
    --blue-back: hsl(var(--blue-hue), var(--blue-sat), var(--blue-lit), 0.1);

    --yellow: hsl(var(--yellow-hue), var(--yellow-sat), var(--yellow-lit));
    --yellow-fore: hsl(var(--yellow-hue), var(--yellow-sat), var(--yellow-lit));
    --yellow-back: hsl(var(--yellow-hue), var(--yellow-sat), var(--red-lit), 0.1);

    --accent: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));
    --accent-fore: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));
    --accent-back: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit), 0.2);
    /* --accent-back: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit), 0.1); */

    --warn-hue: var(--yellow-hue);
    --warn-sat: var(--yellow-sat);
    --warn-lit: var(--yellow-lit);
    --warn: hsl(var(--warn-hue), var(--warn-sat), var(--warn-lit));
    --warn-fore: hsl(var(--warn-hue), var(--warn-sat), var(--warn-lit));
    --warn-back: hsl(var(--warn-hue), var(--warn-sat), var(--warn-lit), 0.1);

    --error-hue: var(--red-hue);
    --error-sat: var(--red-sat);
    --error-lit: var(--red-lit);
    --error: hsl(var(--error-hue), var(--error-sat), var(--error-lit));
    --error-fore: hsl(var(--error-hue), var(--error-sat), var(--error-lit));
    --error-back: hsl(var(--error-hue), var(--error-sat), var(--error-lit), 0.1);

    --success-hue: var(--green-hue);
    --success-sat: var(--green-sat);
    --success-lit: var(--green-lit);
    --success: hsl(var(--success-hue), var(--success-sat), var(--success-lit));
    --success-fore: hsl(var(--success-hue), var(--success-sat), var(--success-lit));
    --success-back: hsl(var(--success-hue), var(--success-sat), var(--success-lit), 0.1);

    --transition:
        linear color 150ms,
        linear border 150ms,
        linear outline 150ms,
        linear opacity 150ms,
        linear transform 150ms,
        linear box-shadow 150ms,
        linear border-radius 150ms,
        linear background-color 150ms;
    /* linear background 150ms, */

    --font-size: 18px;
    --font-family: sans-serif;

    --radio-size: 1.25rem;
    --checkbox-size: 1.25rem;

    --border-radius: 0.25rem;

    --button-border-radius: 0.25rem;
    --button-active-border-radius: 1rem;
    --button-disabled-filter: brightness(0.6);

    --dialog-border-radius: 0.25rem;
    --dialog-backdrop-filter: blur(10px);
    --dialog-backdrop-transition: var(--transition);
    --dialog-backdrop-background: hsl(0deg 0% 50% / 50%);

    --toast-border-radius: 0.25rem;

    --details-border-radius: 0.25rem;

    --article-border-radius: 0.25rem;

    --fieldset-border-radius: 0.25rem;

    --icon-down: polygon(12% 25%, 50% 55%, 88% 25%, 100% 40%, 50% 80%, 0% 40%);
    --icon-up: polygon(0% 70%, 50% 25%, 100% 70%, 85% 85%, 50% 55%, 15% 85%);

    accent-color: var(--accent);
    font-size: var(--font-size);
    font-family: var(--font-family);

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

template,
[hidden],
:not(:defined) {
    display: none !important;
}

body {
    --mean: hsl(var(--base-hue), var(--base-sat), var(--m1));
    --fore: hsl(var(--base-hue), var(--base-sat), var(--f1));
    --back: hsl(var(--base-hue), var(--base-sat), var(--b1));

    color: var(--fore);
    background: var(--back);

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body>header {
    flex: 1 1 auto;
}

body>nav {
    flex: 1 1 auto;
}

body>main {
    flex: 1 1 100%;
    width: 100%;
    overflow: auto;
    padding: 2vh 15vw;
    font-size: inherit;
    box-sizing: border-box;
}

body>footer {
    flex: 1 1 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

strong {
    font-weight: bold;
}

small {
    color: var(--mean);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}

hr {
    border-radius: var(--border-radius);
    border: 2px solid hsl(var(--base-hue), var(--base-sat), var(--m1), 0.2);
}

select,
textarea,
input:not([type=image],
    [type=range],
    [type=radio],
    [type=range],
    [type=reset],
    [type=submit],
    [type=hidden],
    [type=button],
    [type=checkbox]) {
    outline: none;
    appearance: none;

    width: 100%;
    max-width: 100%;
    min-width: 15rem;

    min-height: 2.5rem;
    block-size: 2.5rem;
    min-block-size: 2.5rem;

    display: block;
    /* display: flex; */
    /* flex: 1 1 100%; */

    /* margin: 0.25rem; */
    padding: 0.25rem;

    font-size: 1rem;

    box-sizing: border-box;

    color: var(--fore);
    background: var(--back);
    transition: var(--transition);
    border: solid 2px var(--accent-back);
    border-radius: var(--border-radius);
}

select {
    cursor: pointer;
}

select::-ms-expand {
    border: 0;
    font-size: 1rem;
}

textarea {
    font-size: 1rem;
    max-width: 100%;
    min-width: 100%;
    max-height: 30rem;
}

select:hover,
textarea:hover,
input:hover:not([type=image],
    [type=range],
    [type=radio],
    [type=range],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button],
    [type=checkbox]) {
    border-color: var(--accent-fore);
    /* border-color: var(--fore); */
}

select:focus-within,
textarea:focus-within,
input:focus-within:not([type=image],
    [type=range],
    [type=radio],
    [type=range],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button],
    [type=checkbox]) {
    /* border-color: var(--fore); */
    border-color: var(--accent-fore);
}

select[readonly],
textarea[readonly],
input[readonly]:not([type=image],
    [type=range],
    [type=radio],
    [type=range],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button],
    [type=checkbox]) {
    user-select: none;
    pointer-events: none;
}

select[disabled],
textarea[disabled],
input[disabled]:not([type=image],
    [type=range],
    [type=radio],
    [type=range],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button],
    [type=checkbox]) {
    user-select: none;
    pointer-events: none;
    border-style: dotted;
}

select[placeholder]:invalid:not(:placeholder-shown, :focus),
textarea[placeholder]:invalid:not(:placeholder-shown, :focus),
input[placeholder]:invalid:not(:placeholder-shown, :focus,
    [type=image],
    [type=range],
    [type=radio],
    [type=range],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button],
    [type=checkbox]) {
    border-color: var(--error);
}

input[type=range] {
    outline: none;
    appearance: none;
    background: none;
    font-size: 1rem;
    max-width: 100%;
    min-width: 1rem;
    block-size: 2.5rem;
    min-height: 2.5rem;
    min-block-size: 2.5rem;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    background: var(--accent-back);
    border-radius: var(--border-radius);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    background: var(--accent-back);
    border-radius: var(--border-radius);
}

input[type=range]::-webkit-slider-thumb {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -0.25rem;
}

input[type=range]::-moz-range-thumb {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -0.25rem;
    transition: var(--transition);
}

input[type=range]::-ms-thumb {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -0.25rem;
}

input[type=range]:active::-webkit-slider-thumb {
    transform: scale(1.25);
}

input[type=range]:active::-moz-range-thumb {
    transform: scale(1.25);
}

input[type=range]:active::-ms-thumb {
    transform: scale(1.25);
}

input[type=color] {
    cursor: pointer;
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
    box-sizing: border-box;
}

input[type=color]::-moz-focus-inner {
    padding: 0;
}

input[type=color]::-webkit-color-swatch {
    border: 0;
    border-radius: var(--border-radius);
}

input[type=color]::-moz-color-swatch {
    border: 0;
    border-radius: var(--border-radius);
}

/*
    label
*/
label {
    display: inline-flex;
    flex-direction: column;
}

label:has(input) {
    padding: 0.25rem;
}

label:has(input[type=radio]:checked),
label:has(input[type=checkbox]:checked) {
    color: var(--accent);
}

label:hover:has(input[type=radio]),
label:hover:has(input[type=checkbox]) {
    cursor: pointer;
    color: var(--accent);
}

label:has(input, select)>:first-child {
    color: var(--mean);
}

/*
    radio
    checkbox
*/
input[type=radio] {
    border-radius: 50%;
    width: var(--radio-size);
    height: var(--radio-size);
    block-size: var(--radio-size);
}

input[type=checkbox] {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    block-size: var(--checkbox-size);
}

input[type=radio],
input[type=checkbox] {
    appearance: none;

    cursor: pointer;
    font-size: 1rem;

    margin: 0.25rem;
    padding: 0.25rem;

    display: inline-block;
    box-sizing: border-box;

    vertical-align: middle;
    background: transparent;

    border: 2px solid var(--accent-back);
}

input[type=radio]:checked,
input[type=checkbox]:checked {
    color: var(--accent);
    background: var(--accent);
}

/*
    file
*/
input[type=file] {
    cursor: pointer;
}

input[type=file]::file-selector-button {
    display: none;
    cursor: pointer;
}

/* button */
button {
    border: none;
    outline: none;
    appearance: none;
    user-select: none;
    text-decoration: none;

    /* display: flex; */
    display: inline-flex;
    align-items: center;

    margin: 0.15rem;
    padding: 0.5rem;

    cursor: pointer;

    color: var(--fore);
    background: var(--back);
    /* background: transparent; */
    transition: var(--transition);
    border-radius: var(--button-border-radius);
}

button[disabled] {
    filter: var(--button-disabled-filter);
}

button:hover:not([disabled]),
button:active:not([disabled]),
button:focus-visible:not([disabled]) {
    cursor: pointer;
    color: var(--accent-fore);
    background: var(--accent-back);
    border-radius: var(--button-active-border-radius);
}


button>:first-child {
    color: var(--accent);
}

fieldset {
    margin: 0.25rem;
    padding: 0.25rem;
    display: inline-flex;
    border-radius: var(--fieldset-border-radius);
    border: solid 2px hsl(var(--base-hue), var(--base-sat), var(--m1), 0.2);
}

fieldset>legend {
    font-size: 1rem;
    padding: 0.25rem;
    color: var(--mean);
}

/*
    dialog
*/
dialog {
    margin: auto;
    border: none;
    overflow: auto;

    max-width: 100%;
    max-height: 100%;
    background: transparent;
    /*
    max-width: 90%;
    max-height: 90%;
    padding: 0.5rem;
    font-size: 1rem;

    --mean: hsl(var(--base-hue), var(--base-sat), var(--m1));
    --fore: hsl(var(--base-hue), var(--base-sat), var(--f1));
    --back: hsl(var(--base-hue), var(--base-sat), var(--b1));

    color: var(--fore);
    background: var(--back);
    border-radius: var(--dialog-border-radius);
    */
}

dialog::backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--dialog-backdrop-background);
    transition: var(--dialog-backdrop-transition);
    backdrop-filter: var(--dialog-backdrop-filter);
}

/*
    details
*/
details {
    --mean: hsl(var(--base-hue), var(--base-sat), var(--m1));
    --fore: hsl(var(--base-hue), var(--base-sat), var(--f1));
    --back: hsl(var(--base-hue), var(--base-sat), var(--b1));

    /* margin: 0; */
    margin: 2px;
    padding: 2px;
    border-radius: 0;
    border: 0 solid transparent;
    box-shadow: inset 0px -2px 0px 0px hsl(var(--base-hue), var(--base-sat), var(--m1), 0.2);
}

details[open] {
    border-radius: var(--details-border-radius);
    box-shadow: inset 0px 0px 0px 2px hsl(var(--base-hue), var(--base-sat), var(--m1), 0.2);
}

details>summary {
    appearance: none;
    user-select: none;

    padding: 0.5rem;
    border-radius: var(--details-border-radius);

    cursor: pointer;
    list-style: none;
    font-weight: normal;
    transition: var(--transition);
}

details>summary:hover {
    color: var(--accent-fore);
    background: var(--accent-back);
}

details>summary>:first-child {
    color: var(--accent);
}


/*
    article
*/

article {
    --mean: hsl(var(--base-hue), var(--base-sat), var(--m3));
    --fore: hsl(var(--base-hue), var(--base-sat), var(--f3));
    --back: hsl(var(--base-hue), var(--base-sat), var(--b3));

    color: var(--fore);
    background: var(--back);

    padding: 1rem;
    margin: 0.5rem;
    flex: 1 1 auto;
    border-radius: var(--article-border-radius);

}

/*
*/
section {
    margin: 0.25rem;
    padding: 0.25rem;
}

/*
    progress
*/
progress {
    background: none;
    appearance: none;

    border: 0;
    width: auto;
    display: flex;
    flex: 1 1 auto;
    font-size: 1rem;
    max-width: 100%;
    min-width: 1rem;
    border-radius: 2px;

    height: 0.25rem;
    min-height: 0.25rem;
    block-size: 0.25rem;
    min-block-size: 0.25rem;

    overflow: hidden;
    position: relative;
}

progress::before {
    background: none;
    appearance: none;

    opacity: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--accent);

    animation-play-state: paused;
}

progress.infinite::before {
    transform-origin: left center;
    animation-duration: 1s;
    animation-name: infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

progress.infinite.active::before {
    opacity: 1;
    transform: translateX(0) scaleX(0);
    animation-play-state: running;
}

@keyframes infinite {
    0% {
        transform: translateX(0) scaleX(0);
    }

    50% {
        transform: translateX(50%) scaleX(0.5);
    }

    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}

.toast {
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    margin: auto;
    display: block;
    bottom: -1.3rem;
    position: fixed;
    overflow: hidden;
    font-size: 0.8rem;
    width: fit-content;
    text-align: center;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;

    color: var(--back);
    background: var(--fore);
    border-radius: var(--toast-border-radius);
}

.toast.active {
    opacity: 1;
    transform: translateY(calc(-1.3rem - 1vh));
}

.toast.error {
    color: var(--error-fore);
    background: var(--error-back);
}

.menu-bar {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    justify-content: space-between;
}

.menu-drawer {
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    height: 100%;
    max-width: 90%;
    position: fixed;
    box-sizing: border-box;
    min-width: fit-content;
    flex-direction: column;
    color: var(--fore);
    background: var(--back);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.menu-drawer[state=true] {
    transform: translate(0, 0);
    transition: linear transform 150ms;
}

.menu-drawer[state=false] {
    transform: translate(100%, 0);
    transition: linear transform 150ms;
}

.menu-backdrop {
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    background: hsl(0deg 0% 50%);
}

.menu-backdrop[state=true] {
    opacity: 0.5;
    pointer-events: auto;
    transition: linear opacity 150ms;
}

.menu-backdrop[state=false] {
    opacity: 0;
    pointer-events: none;
    transition: linear opacity 150ms;
}

.menu-item {
    margin: 0.25rem;
    padding: 0.25rem;
    box-sizing: border-box;
}

.menu-start {
    display: flex;
    box-sizing: border-box;
}

.menu-middle {
    display: flex;
    box-sizing: border-box;
}

.menu-middle>:first-child {
    font-size: 1.5rem;
    color: var(--accent);
}

.menu-end {
    display: flex;
    box-sizing: border-box;
}

/*
    utilities
*/

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.border-bottom {
    border-bottom: 2px solid hsl(var(--base-hue), var(--base-sat), var(--m1), 0.2);
}

/*
    theme accent
*/

.accent {
    --accent: var(--accent);
    --accent-fore: var(--accent-fore);
    --accent-back: var(--accent-back);
}

.accent-warn {
    --accent: var(--warn);
    --accent-fore: var(--warn-fore);
    --accent-back: var(--warn-back);
}

.accent-error {
    --accent: var(--error);
    --accent-fore: var(--error-fore);
    --accent-back: var(--error-back);
}

.accent-red {
    --accent: var(--red);
    --accent-fore: var(--red-fore);
    --accent-back: var(--red-back);
}

.accent-green {
    --accent: var(--green);
    --accent-fore: var(--green-fore);
    --accent-back: var(--green-back);
}

.accent-blue {
    --accent: var(--blue);
    --accent-fore: var(--blue-fore);
    --accent-back: var(--blue-back);
}

.accent-yellow {
    --accent: var(--yellow);
    --accent-fore: var(--yellow-fore);
    --accent-back: var(--yellow-back);
}

/*
    color/background accent
*/

.color-accent {
    color: var(--accent);
}

.color-accent-fore {
    color: var(--accent-fore);
}

.color-accent-back {
    color: var(--accent-back);
}

.background-accent {
    background: var(--accent);
}

.background-accent-fore {
    background: var(--accent-fore);
}

.background-accent-back {
    background: var(--accent-back);
}

/*
    color/background warn
*/

.color-warn {
    color: var(--warn);
}

.color-warn-fore {
    color: var(--warn-fore);
}

.color-warn-back {
    color: var(--warn-back);
}

.background-warn {
    background: var(--warn);
}

.background-warn-fore {
    background: var(--warn-fore);
}

.background-warn-back {
    background: var(--warn-back);
}

/*
    color/background error
*/

.color-error {
    color: var(--error);
}

.color-error-fore {
    color: var(--error-fore);
}

.color-error-back {
    color: var(--error-back);
}

.background-error {
    background: var(--error);
}

.background-error-fore {
    background: var(--error-fore);
}

.background-error-back {
    background: var(--error-back);
}

/*
    color/background red
*/

.color-red {
    color: var(--red);
}

.color-red-fore {
    color: var(--red-fore);
}

.color-red-back {
    color: var(--red-back);
}

.background-red {
    background: var(--red);
}

.background-red-fore {
    background: var(--red-fore);
}

.background-red-back {
    background: var(--red-back);
}

/*
    browser
*/

::-webkit-progress-bar {
    background: none;
}

::-moz-progress-bar {
    background: none;
}

::-moz-progress-value {
    background: var(--accent);
}

::-webkit-progress-value {
    background: var(--accent);
}

::marker {
    color: var(--accent);
}

::-webkit-scrollbar {
    width: 10px;
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 5%);
    /* background: hsl(var(--hue) var(--sat) var(--lit) / 5%); */
}

::-webkit-scrollbar-thumb {
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 10%);
    /* background: hsl(var(--hue) var(--sat) var(--lit) / 10%); */
}

::-webkit-scrollbar:hover {
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 5%);
    /* background: hsl(var(--hue) var(--sat) var(--lit) / 5%); */
}

::-webkit-scrollbar-thumb:hover {
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 20%);
    /* background: hsl(var(--hue) var(--sat) var(--lit) / 20%); */
}

@media screen and (max-width: 65em) {
    body>main {
        padding: 1vh 2vw;
    }
}
.row{display: flex;flex-direction: row;box-sizing: border-box;}
.col{display: flex;flex-direction: column;box-sizing: border-box;}
.row-reverse{display: flex;flex-direction: row-reverse;box-sizing: border-box;}
.col-reverse{display: flex;flex-direction: column-reverse;box-sizing: border-box;}
.first{ order: 1; }
.last{ order: -1; }
.grow{ flex-grow: 1; }
.nogrow{ flex-grow: 0; }
.shrink{ flex-shrink: 1; }
.noshrink{ flex-shrink: 0; }
.wrap{ flex-wrap: wrap; }
.nowrap{ flex-wrap: nowrap; }
.flex{ display: flex; }
.contain{ overflow: hidden; text-overflow: ellipsis; }
.row.top,.s-row.top,.m-row.top,.l-row.top{ align-items: start; align-content: start; }
.row.bottom,.s-row.bottom,.m-row.bottom,.l-row.bottom{ align-items: end; align-content: end; }
.row.middle,.s-row.middle,.m-row.middle,.l-row.middle{ align-items: center; align-content: center; }
.row.left,.s-row.left,.m-row.left,.l-row.left{ justify-items: start; justify-content: start; }
.row.right,.s-row.right,.m-row.right,.l-row.right{ justify-items: end; justify-content: end; }
.row.center,.s-row.center,.m-row.center,.l-row.center{ justify-items: center; justify-content: center; }
.row.reverse.top,.s-row.reverse.top,.m-row.reverse.top,.l-row.reverse.top{ align-items: start; align-content: end; }
.row.reverse.bottom,.s-row.reverse.bottom,.m-row.reverse.bottom,.l-row.reverse.bottom{ align-items: end; align-content: center; }
.row.reverse.middle,.s-row.reverse.middle,.m-row.reverse.middle,.l-row.reverse.middle{ align-items: center; align-content: start; }
.row.reverse.left,.s-row.reverse.left,.m-row.reverse.left,.l-row.reverse.left{ justify-items: end; justify-content: end; }
.row.reverse.right,.s-row.reverse.right,.m-row.reverse.right,.l-row.reverse.right{ justify-items: start; justify-content: start; }
.row.reverse.center,.s-row.reverse.center,.m-row.reverse.center,.l-row.reverse.center{ justify-items: center; justify-content: center; }
.col.top,.s-col.top,.m-col.top,.l-col.top{ justify-items: start; justify-content: start; }
.col.bottom,.s-col.bottom,.m-col.bottom,.l-col.bottom{ justify-items: end; justify-content: end; }
.col.middle,.s-col.middle,.m-col.middle,.l-col.middle{ justify-items: center; justify-content: center; }
.col.left,.s-col.left,.m-col.left,.l-col.left{ align-items: start; align-content: start; }
.col.right,.s-col.right,.m-col.right,.l-col.right{ align-items: end; align-content: end; }
.col.center,.s-col.center,.m-col.center,.l-col.center{ align-items: center; align-content: center; }
.col.reverse.top,.s-col.reverse.top,.m-col.reverse.top,.l-col.reverse.top{ justify-items: end; justify-content: end; }
.col.reverse.bottom,.s-col.reverse.bottom,.m-col.reverse.bottom,.l-col.reverse.bottom{ justify-items: start; justify-content: start; }
.col.reverse.middle,.s-col.reverse.middle,.m-col.reverse.middle,.l-col.reverse.middle{ justify-items: center; justify-content: center; }
.col.reverse.left,.s-col.reverse.left,.m-col.reverse.left,.l-col.reverse.left{ align-items: start; align-content: start; }
.col.reverse.right,.s-col.reverse.right,.m-col.reverse.right,.l-col.reverse.right{ align-items: end; align-content: end; }
.col.reverse.center,.s-col.reverse.center,.m-col.reverse.center,.l-col.reverse.center{ align-items: center; align-content: center; }
.row.reverse{ flex-direction: row-reverse; }
.col.reverse{ flex-direction: column-reverse; }
.align-self-end{ align-self: end; }
.align-self-start{ align-self: start; }
.align-self-center{ align-self: center; }
.align-self-stretch{ align-self: stretch; }
.align-self-around{ align-self: space-around; }
.align-self-evenly{ align-self: space-evenly; }
.align-self-between{ align-self: space-between; }
.align-content-end{ align-content: end; }
.align-content-start{ align-content: start; }
.align-content-center{ align-content: center; }
.align-content-stretch{ align-content: stretch; }
.align-content-around{ align-content: space-around; }
.align-content-evenly{ align-content: space-evenly; }
.align-content-between{ align-content: space-between; }
.align-items-end{ align-items: end; }
.align-items-start{ align-items: start; }
.align-items-center{ align-items: center; }
.align-items-stretch{ align-items: stretch; }
.align-items-around{ align-items: space-around; }
.align-items-evenly{ align-items: space-evenly; }
.align-items-between{ align-items: space-between; }
.justify-self-end{ justify-self: end; }
.justify-self-start{ justify-self: start; }
.justify-self-center{ justify-self: center; }
.justify-self-stretch{ justify-self: stretch; }
.justify-self-around{ justify-self: space-around; }
.justify-self-evenly{ justify-self: space-evenly; }
.justify-self-between{ justify-self: space-between; }
.justify-content-end{ justify-content: end; }
.justify-content-start{ justify-content: start; }
.justify-content-center{ justify-content: center; }
.justify-content-stretch{ justify-content: stretch; }
.justify-content-around{ justify-content: space-around; }
.justify-content-evenly{ justify-content: space-evenly; }
.justify-content-between{ justify-content: space-between; }
.justify-items-end{ justify-items: end; }
.justify-items-start{ justify-items: start; }
.justify-items-center{ justify-items: center; }
.justify-items-stretch{ justify-items: stretch; }
.justify-items-around{ justify-items: space-around; }
.justify-items-evenly{ justify-items: space-evenly; }
.justify-items-between{ justify-items: space-between; }
.w0,.width0.width-0{ width: 0; }
.wa,.widthauto,.width-auto{ width: auto; }
.wf,.widthfit,.width-fit{ width: fit-content; }
.h0,.height0.height-0{ height: 0; }
.ha,.heightauto,.height-auto{ height: auto; }
.hf,.heightfit,.height-fit{ height: fit-content; }
.b0,.basis0.basis-0{ flex-basis: 0; }
.ba,.basisauto,.basis-auto{ flex-basis: auto; }
.bf,.basisfit,.basis-fit{ flex-basis: fit-content; }
.m0,.margin0.margin-0{ margin: 0; }
.ma,.marginauto,.margin-auto{ margin: auto; }
.p0,.padding0,.padding-0{ padding: 0; }
.pa,.paddingauto,.padding-auto{ padding: auto; }
.f1,.font1,.font-1{ font-size: 0.9rem; }
.m1,.margin1,.margin-1{ margin: 0.1rem; }
.p1,.padding1,.padding-1{ padding: 0.1rem; }
.w1,.width1,.width-1{ width: 10%; }
.h1,.height1,.height-1{ height: 10%; }
.b1,.basis1,.basis-1{ flex-basis: 10%; }
.f2,.font2,.font-2{ font-size: 1rem; }
.m2,.margin2,.margin-2{ margin: 0.2rem; }
.p2,.padding2,.padding-2{ padding: 0.2rem; }
.w2,.width2,.width-2{ width: 20%; }
.h2,.height2,.height-2{ height: 20%; }
.b2,.basis2,.basis-2{ flex-basis: 20%; }
.f3,.font3,.font-3{ font-size: 1.5rem; }
.m3,.margin3,.margin-3{ margin: 0.3rem; }
.p3,.padding3,.padding-3{ padding: 0.3rem; }
.w3,.width3,.width-3{ width: 30%; }
.h3,.height3,.height-3{ height: 30%; }
.b3,.basis3,.basis-3{ flex-basis: 30%; }
.f4,.font4,.font-4{ font-size: 2rem; }
.m4,.margin4,.margin-4{ margin: 0.4rem; }
.p4,.padding4,.padding-4{ padding: 0.4rem; }
.w4,.width4,.width-4{ width: 40%; }
.h4,.height4,.height-4{ height: 40%; }
.b4,.basis4,.basis-4{ flex-basis: 40%; }
.f5,.font5,.font-5{ font-size: 2.5rem; }
.m5,.margin5,.margin-5{ margin: 0.5rem; }
.p5,.padding5,.padding-5{ padding: 0.5rem; }
.w5,.width5,.width-5{ width: 50%; }
.h5,.height5,.height-5{ height: 50%; }
.b5,.basis5,.basis-5{ flex-basis: 50%; }
.f6,.font6,.font-6{ font-size: 3rem; }
.m6,.margin6,.margin-6{ margin: 0.6rem; }
.p6,.padding6,.padding-6{ padding: 0.6rem; }
.w6,.width6,.width-6{ width: 60%; }
.h6,.height6,.height-6{ height: 60%; }
.b6,.basis6,.basis-6{ flex-basis: 60%; }
.f7,.font7,.font-7{ font-size: 3.5rem; }
.m7,.margin7,.margin-7{ margin: 0.7rem; }
.p7,.padding7,.padding-7{ padding: 0.7rem; }
.w7,.width7,.width-7{ width: 70%; }
.h7,.height7,.height-7{ height: 70%; }
.b7,.basis7,.basis-7{ flex-basis: 70%; }
.f8,.font8,.font-8{ font-size: 4rem; }
.m8,.margin8,.margin-8{ margin: 0.8rem; }
.p8,.padding8,.padding-8{ padding: 0.8rem; }
.w8,.width8,.width-8{ width: 80%; }
.h8,.height8,.height-8{ height: 80%; }
.b8,.basis8,.basis-8{ flex-basis: 80%; }
.f9,.font9,.font-9{ font-size: 4.5rem; }
.m9,.margin9,.margin-9{ margin: 0.9rem; }
.p9,.padding9,.padding-9{ padding: 0.9rem; }
.w9,.width9,.width-9{ width: 90%; }
.h9,.height9,.height-9{ height: 90%; }
.b9,.basis9,.basis-9{ flex-basis: 90%; }
.f10,.font10,.font-10{ font-size: 5rem; }
.m10,.margin10,.margin-10{ margin: 1rem; }
.p10,.padding10,.padding-10{ padding: 1rem; }
.w10,.width10,.width-10{ width: 100%; }
.h10,.height10,.height-10{ height: 100%; }
.b10,.basis10,.basis-10{ flex-basis: 100%; }
@media only screen and (min-width: 30em) {
.s-row{display: flex;flex-direction: row;box-sizing: border-box;}
.s-col{display: flex;flex-direction: column;box-sizing: border-box;}
.s-row-reverse{display: flex;flex-direction: row-reverse;box-sizing: border-box;}
.s-col-reverse{display: flex;flex-direction: column-reverse;box-sizing: border-box;}
.s-first{ order: 1; }
.s-last{ order: -1; }
.s-grow{ flex-grow: 1; }
.s-nogrow{ flex-grow: 0; }
.s-shrink{ flex-shrink: 1; }
.s-noshrink{ flex-shrink: 0; }
.s-wrap{ flex-wrap: wrap; }
.s-nowrap{ flex-wrap: nowrap; }
.s-flex{ display: flex; }
.s-contain{ overflow: hidden; text-overflow: ellipsis; }
.row.s-top,.s-row.s-top,.m-row.s-top,.l-row.s-top{ align-items: start; align-content: start; }
.row.s-bottom,.s-row.s-bottom,.m-row.s-bottom,.l-row.s-bottom{ align-items: end; align-content: end; }
.row.s-middle,.s-row.s-middle,.m-row.s-middle,.l-row.s-middle{ align-items: center; align-content: center; }
.row.s-left,.s-row.s-left,.m-row.s-left,.l-row.s-left{ justify-items: start; justify-content: start; }
.row.s-right,.s-row.s-right,.m-row.s-right,.l-row.s-right{ justify-items: end; justify-content: end; }
.row.s-center,.s-row.s-center,.m-row.s-center,.l-row.s-center{ justify-items: center; justify-content: center; }
.row.s-reverse.s-top,.s-row.s-reverse.s-top,.m-row.s-reverse.s-top,.l-row.s-reverse.s-top{ align-items: start; align-content: end; }
.row.s-reverse.s-bottom,.s-row.s-reverse.s-bottom,.m-row.s-reverse.s-bottom,.l-row.s-reverse.s-bottom{ align-items: end; align-content: center; }
.row.s-reverse.s-middle,.s-row.s-reverse.s-middle,.m-row.s-reverse.s-middle,.l-row.s-reverse.s-middle{ align-items: center; align-content: start; }
.row.s-reverse.s-left,.s-row.s-reverse.s-left,.m-row.s-reverse.s-left,.l-row.s-reverse.s-left{ justify-items: end; justify-content: end; }
.row.s-reverse.s-right,.s-row.s-reverse.s-right,.m-row.s-reverse.s-right,.l-row.s-reverse.s-right{ justify-items: start; justify-content: start; }
.row.s-reverse.s-center,.s-row.s-reverse.s-center,.m-row.s-reverse.s-center,.l-row.s-reverse.s-center{ justify-items: center; justify-content: center; }
.col.s-top,.s-col.s-top,.m-col.s-top,.l-col.s-top{ justify-items: start; justify-content: start; }
.col.s-bottom,.s-col.s-bottom,.m-col.s-bottom,.l-col.s-bottom{ justify-items: end; justify-content: end; }
.col.s-middle,.s-col.s-middle,.m-col.s-middle,.l-col.s-middle{ justify-items: center; justify-content: center; }
.col.s-left,.s-col.s-left,.m-col.s-left,.l-col.s-left{ align-items: start; align-content: start; }
.col.s-right,.s-col.s-right,.m-col.s-right,.l-col.s-right{ align-items: end; align-content: end; }
.col.s-center,.s-col.s-center,.m-col.s-center,.l-col.s-center{ align-items: center; align-content: center; }
.col.s-reverse.s-top,.s-col.s-reverse.s-top,.m-col.s-reverse.s-top,.l-col.s-reverse.s-top{ justify-items: end; justify-content: end; }
.col.s-reverse.s-bottom,.s-col.s-reverse.s-bottom,.m-col.s-reverse.s-bottom,.l-col.s-reverse.s-bottom{ justify-items: start; justify-content: start; }
.col.s-reverse.s-middle,.s-col.s-reverse.s-middle,.m-col.s-reverse.s-middle,.l-col.s-reverse.s-middle{ justify-items: center; justify-content: center; }
.col.s-reverse.s-left,.s-col.s-reverse.s-left,.m-col.s-reverse.s-left,.l-col.s-reverse.s-left{ align-items: start; align-content: start; }
.col.s-reverse.s-right,.s-col.s-reverse.s-right,.m-col.s-reverse.s-right,.l-col.s-reverse.s-right{ align-items: end; align-content: end; }
.col.s-reverse.s-center,.s-col.s-reverse.s-center,.m-col.s-reverse.s-center,.l-col.s-reverse.s-center{ align-items: center; align-content: center; }
.s-row.s-reverse{ flex-direction: row-reverse; }
.s-col.s-reverse{ flex-direction: column-reverse; }
.s-align-self-end{ align-self: end; }
.s-align-self-start{ align-self: start; }
.s-align-self-center{ align-self: center; }
.s-align-self-stretch{ align-self: stretch; }
.s-align-self-around{ align-self: space-around; }
.s-align-self-evenly{ align-self: space-evenly; }
.s-align-self-between{ align-self: space-between; }
.s-align-content-end{ align-content: end; }
.s-align-content-start{ align-content: start; }
.s-align-content-center{ align-content: center; }
.s-align-content-stretch{ align-content: stretch; }
.s-align-content-around{ align-content: space-around; }
.s-align-content-evenly{ align-content: space-evenly; }
.s-align-content-between{ align-content: space-between; }
.s-align-items-end{ align-items: end; }
.s-align-items-start{ align-items: start; }
.s-align-items-center{ align-items: center; }
.s-align-items-stretch{ align-items: stretch; }
.s-align-items-around{ align-items: space-around; }
.s-align-items-evenly{ align-items: space-evenly; }
.s-align-items-between{ align-items: space-between; }
.s-justify-self-end{ justify-self: end; }
.s-justify-self-start{ justify-self: start; }
.s-justify-self-center{ justify-self: center; }
.s-justify-self-stretch{ justify-self: stretch; }
.s-justify-self-around{ justify-self: space-around; }
.s-justify-self-evenly{ justify-self: space-evenly; }
.s-justify-self-between{ justify-self: space-between; }
.s-justify-content-end{ justify-content: end; }
.s-justify-content-start{ justify-content: start; }
.s-justify-content-center{ justify-content: center; }
.s-justify-content-stretch{ justify-content: stretch; }
.s-justify-content-around{ justify-content: space-around; }
.s-justify-content-evenly{ justify-content: space-evenly; }
.s-justify-content-between{ justify-content: space-between; }
.s-justify-items-end{ justify-items: end; }
.s-justify-items-start{ justify-items: start; }
.s-justify-items-center{ justify-items: center; }
.s-justify-items-stretch{ justify-items: stretch; }
.s-justify-items-around{ justify-items: space-around; }
.s-justify-items-evenly{ justify-items: space-evenly; }
.s-justify-items-between{ justify-items: space-between; }
.s-w0,.s-width0.s-width-0{ width: 0; }
.s-wa,.s-widthauto,.s-width-auto{ width: auto; }
.s-wf,.s-widthfit,.s-width-fit{ width: fit-content; }
.s-h0,.s-height0.s-height-0{ height: 0; }
.s-ha,.s-heightauto,.s-height-auto{ height: auto; }
.s-hf,.s-heightfit,.s-height-fit{ height: fit-content; }
.s-b0,.s-basis0.s-basis-0{ flex-basis: 0; }
.s-ba,.s-basisauto,.s-basis-auto{ flex-basis: auto; }
.s-bf,.s-basisfit,.s-basis-fit{ flex-basis: fit-content; }
.s-m0,.s-margin0.s-margin-0{ margin: 0; }
.s-ma,.s-marginauto,.s-margin-auto{ margin: auto; }
.s-p0,.s-padding0,.s-padding-0{ padding: 0; }
.s-pa,.s-paddingauto,.s-padding-auto{ padding: auto; }
.s-f1,.s-font1,.s-font-1{ font-size: 0.9rem; }
.s-m1,.s-margin1,.s-margin-1{ margin: 0.1rem; }
.s-p1,.s-padding1,.s-padding-1{ padding: 0.1rem; }
.s-w1,.s-width1,.s-width-1{ width: 10%; }
.s-h1,.s-height1,.s-height-1{ height: 10%; }
.s-b1,.s-basis1,.s-basis-1{ flex-basis: 10%; }
.s-f2,.s-font2,.s-font-2{ font-size: 1rem; }
.s-m2,.s-margin2,.s-margin-2{ margin: 0.2rem; }
.s-p2,.s-padding2,.s-padding-2{ padding: 0.2rem; }
.s-w2,.s-width2,.s-width-2{ width: 20%; }
.s-h2,.s-height2,.s-height-2{ height: 20%; }
.s-b2,.s-basis2,.s-basis-2{ flex-basis: 20%; }
.s-f3,.s-font3,.s-font-3{ font-size: 1.5rem; }
.s-m3,.s-margin3,.s-margin-3{ margin: 0.3rem; }
.s-p3,.s-padding3,.s-padding-3{ padding: 0.3rem; }
.s-w3,.s-width3,.s-width-3{ width: 30%; }
.s-h3,.s-height3,.s-height-3{ height: 30%; }
.s-b3,.s-basis3,.s-basis-3{ flex-basis: 30%; }
.s-f4,.s-font4,.s-font-4{ font-size: 2rem; }
.s-m4,.s-margin4,.s-margin-4{ margin: 0.4rem; }
.s-p4,.s-padding4,.s-padding-4{ padding: 0.4rem; }
.s-w4,.s-width4,.s-width-4{ width: 40%; }
.s-h4,.s-height4,.s-height-4{ height: 40%; }
.s-b4,.s-basis4,.s-basis-4{ flex-basis: 40%; }
.s-f5,.s-font5,.s-font-5{ font-size: 2.5rem; }
.s-m5,.s-margin5,.s-margin-5{ margin: 0.5rem; }
.s-p5,.s-padding5,.s-padding-5{ padding: 0.5rem; }
.s-w5,.s-width5,.s-width-5{ width: 50%; }
.s-h5,.s-height5,.s-height-5{ height: 50%; }
.s-b5,.s-basis5,.s-basis-5{ flex-basis: 50%; }
.s-f6,.s-font6,.s-font-6{ font-size: 3rem; }
.s-m6,.s-margin6,.s-margin-6{ margin: 0.6rem; }
.s-p6,.s-padding6,.s-padding-6{ padding: 0.6rem; }
.s-w6,.s-width6,.s-width-6{ width: 60%; }
.s-h6,.s-height6,.s-height-6{ height: 60%; }
.s-b6,.s-basis6,.s-basis-6{ flex-basis: 60%; }
.s-f7,.s-font7,.s-font-7{ font-size: 3.5rem; }
.s-m7,.s-margin7,.s-margin-7{ margin: 0.7rem; }
.s-p7,.s-padding7,.s-padding-7{ padding: 0.7rem; }
.s-w7,.s-width7,.s-width-7{ width: 70%; }
.s-h7,.s-height7,.s-height-7{ height: 70%; }
.s-b7,.s-basis7,.s-basis-7{ flex-basis: 70%; }
.s-f8,.s-font8,.s-font-8{ font-size: 4rem; }
.s-m8,.s-margin8,.s-margin-8{ margin: 0.8rem; }
.s-p8,.s-padding8,.s-padding-8{ padding: 0.8rem; }
.s-w8,.s-width8,.s-width-8{ width: 80%; }
.s-h8,.s-height8,.s-height-8{ height: 80%; }
.s-b8,.s-basis8,.s-basis-8{ flex-basis: 80%; }
.s-f9,.s-font9,.s-font-9{ font-size: 4.5rem; }
.s-m9,.s-margin9,.s-margin-9{ margin: 0.9rem; }
.s-p9,.s-padding9,.s-padding-9{ padding: 0.9rem; }
.s-w9,.s-width9,.s-width-9{ width: 90%; }
.s-h9,.s-height9,.s-height-9{ height: 90%; }
.s-b9,.s-basis9,.s-basis-9{ flex-basis: 90%; }
.s-f10,.s-font10,.s-font-10{ font-size: 5rem; }
.s-m10,.s-margin10,.s-margin-10{ margin: 1rem; }
.s-p10,.s-padding10,.s-padding-10{ padding: 1rem; }
.s-w10,.s-width10,.s-width-10{ width: 100%; }
.s-h10,.s-height10,.s-height-10{ height: 100%; }
.s-b10,.s-basis10,.s-basis-10{ flex-basis: 100%; }
}
@media only screen and (min-width: 50em) {
.m-row{display: flex;flex-direction: row;box-sizing: border-box;}
.m-col{display: flex;flex-direction: column;box-sizing: border-box;}
.m-row-reverse{display: flex;flex-direction: row-reverse;box-sizing: border-box;}
.m-col-reverse{display: flex;flex-direction: column-reverse;box-sizing: border-box;}
.m-first{ order: 1; }
.m-last{ order: -1; }
.m-grow{ flex-grow: 1; }
.m-nogrow{ flex-grow: 0; }
.m-shrink{ flex-shrink: 1; }
.m-noshrink{ flex-shrink: 0; }
.m-wrap{ flex-wrap: wrap; }
.m-nowrap{ flex-wrap: nowrap; }
.m-flex{ display: flex; }
.m-contain{ overflow: hidden; text-overflow: ellipsis; }
.row.m-top,.s-row.m-top,.m-row.m-top,.l-row.m-top{ align-items: start; align-content: start; }
.row.m-bottom,.s-row.m-bottom,.m-row.m-bottom,.l-row.m-bottom{ align-items: end; align-content: end; }
.row.m-middle,.s-row.m-middle,.m-row.m-middle,.l-row.m-middle{ align-items: center; align-content: center; }
.row.m-left,.s-row.m-left,.m-row.m-left,.l-row.m-left{ justify-items: start; justify-content: start; }
.row.m-right,.s-row.m-right,.m-row.m-right,.l-row.m-right{ justify-items: end; justify-content: end; }
.row.m-center,.s-row.m-center,.m-row.m-center,.l-row.m-center{ justify-items: center; justify-content: center; }
.row.m-reverse.m-top,.s-row.m-reverse.m-top,.m-row.m-reverse.m-top,.l-row.m-reverse.m-top{ align-items: start; align-content: end; }
.row.m-reverse.m-bottom,.s-row.m-reverse.m-bottom,.m-row.m-reverse.m-bottom,.l-row.m-reverse.m-bottom{ align-items: end; align-content: center; }
.row.m-reverse.m-middle,.s-row.m-reverse.m-middle,.m-row.m-reverse.m-middle,.l-row.m-reverse.m-middle{ align-items: center; align-content: start; }
.row.m-reverse.m-left,.s-row.m-reverse.m-left,.m-row.m-reverse.m-left,.l-row.m-reverse.m-left{ justify-items: end; justify-content: end; }
.row.m-reverse.m-right,.s-row.m-reverse.m-right,.m-row.m-reverse.m-right,.l-row.m-reverse.m-right{ justify-items: start; justify-content: start; }
.row.m-reverse.m-center,.s-row.m-reverse.m-center,.m-row.m-reverse.m-center,.l-row.m-reverse.m-center{ justify-items: center; justify-content: center; }
.col.m-top,.s-col.m-top,.m-col.m-top,.l-col.m-top{ justify-items: start; justify-content: start; }
.col.m-bottom,.s-col.m-bottom,.m-col.m-bottom,.l-col.m-bottom{ justify-items: end; justify-content: end; }
.col.m-middle,.s-col.m-middle,.m-col.m-middle,.l-col.m-middle{ justify-items: center; justify-content: center; }
.col.m-left,.s-col.m-left,.m-col.m-left,.l-col.m-left{ align-items: start; align-content: start; }
.col.m-right,.s-col.m-right,.m-col.m-right,.l-col.m-right{ align-items: end; align-content: end; }
.col.m-center,.s-col.m-center,.m-col.m-center,.l-col.m-center{ align-items: center; align-content: center; }
.col.m-reverse.m-top,.s-col.m-reverse.m-top,.m-col.m-reverse.m-top,.l-col.m-reverse.m-top{ justify-items: end; justify-content: end; }
.col.m-reverse.m-bottom,.s-col.m-reverse.m-bottom,.m-col.m-reverse.m-bottom,.l-col.m-reverse.m-bottom{ justify-items: start; justify-content: start; }
.col.m-reverse.m-middle,.s-col.m-reverse.m-middle,.m-col.m-reverse.m-middle,.l-col.m-reverse.m-middle{ justify-items: center; justify-content: center; }
.col.m-reverse.m-left,.s-col.m-reverse.m-left,.m-col.m-reverse.m-left,.l-col.m-reverse.m-left{ align-items: start; align-content: start; }
.col.m-reverse.m-right,.s-col.m-reverse.m-right,.m-col.m-reverse.m-right,.l-col.m-reverse.m-right{ align-items: end; align-content: end; }
.col.m-reverse.m-center,.s-col.m-reverse.m-center,.m-col.m-reverse.m-center,.l-col.m-reverse.m-center{ align-items: center; align-content: center; }
.m-row.m-reverse{ flex-direction: row-reverse; }
.m-col.m-reverse{ flex-direction: column-reverse; }
.m-align-self-end{ align-self: end; }
.m-align-self-start{ align-self: start; }
.m-align-self-center{ align-self: center; }
.m-align-self-stretch{ align-self: stretch; }
.m-align-self-around{ align-self: space-around; }
.m-align-self-evenly{ align-self: space-evenly; }
.m-align-self-between{ align-self: space-between; }
.m-align-content-end{ align-content: end; }
.m-align-content-start{ align-content: start; }
.m-align-content-center{ align-content: center; }
.m-align-content-stretch{ align-content: stretch; }
.m-align-content-around{ align-content: space-around; }
.m-align-content-evenly{ align-content: space-evenly; }
.m-align-content-between{ align-content: space-between; }
.m-align-items-end{ align-items: end; }
.m-align-items-start{ align-items: start; }
.m-align-items-center{ align-items: center; }
.m-align-items-stretch{ align-items: stretch; }
.m-align-items-around{ align-items: space-around; }
.m-align-items-evenly{ align-items: space-evenly; }
.m-align-items-between{ align-items: space-between; }
.m-justify-self-end{ justify-self: end; }
.m-justify-self-start{ justify-self: start; }
.m-justify-self-center{ justify-self: center; }
.m-justify-self-stretch{ justify-self: stretch; }
.m-justify-self-around{ justify-self: space-around; }
.m-justify-self-evenly{ justify-self: space-evenly; }
.m-justify-self-between{ justify-self: space-between; }
.m-justify-content-end{ justify-content: end; }
.m-justify-content-start{ justify-content: start; }
.m-justify-content-center{ justify-content: center; }
.m-justify-content-stretch{ justify-content: stretch; }
.m-justify-content-around{ justify-content: space-around; }
.m-justify-content-evenly{ justify-content: space-evenly; }
.m-justify-content-between{ justify-content: space-between; }
.m-justify-items-end{ justify-items: end; }
.m-justify-items-start{ justify-items: start; }
.m-justify-items-center{ justify-items: center; }
.m-justify-items-stretch{ justify-items: stretch; }
.m-justify-items-around{ justify-items: space-around; }
.m-justify-items-evenly{ justify-items: space-evenly; }
.m-justify-items-between{ justify-items: space-between; }
.m-w0,.m-width0.m-width-0{ width: 0; }
.m-wa,.m-widthauto,.m-width-auto{ width: auto; }
.m-wf,.m-widthfit,.m-width-fit{ width: fit-content; }
.m-h0,.m-height0.m-height-0{ height: 0; }
.m-ha,.m-heightauto,.m-height-auto{ height: auto; }
.m-hf,.m-heightfit,.m-height-fit{ height: fit-content; }
.m-b0,.m-basis0.m-basis-0{ flex-basis: 0; }
.m-ba,.m-basisauto,.m-basis-auto{ flex-basis: auto; }
.m-bf,.m-basisfit,.m-basis-fit{ flex-basis: fit-content; }
.m-m0,.m-margin0.m-margin-0{ margin: 0; }
.m-ma,.m-marginauto,.m-margin-auto{ margin: auto; }
.m-p0,.m-padding0,.m-padding-0{ padding: 0; }
.m-pa,.m-paddingauto,.m-padding-auto{ padding: auto; }
.m-f1,.m-font1,.m-font-1{ font-size: 0.9rem; }
.m-m1,.m-margin1,.m-margin-1{ margin: 0.1rem; }
.m-p1,.m-padding1,.m-padding-1{ padding: 0.1rem; }
.m-w1,.m-width1,.m-width-1{ width: 10%; }
.m-h1,.m-height1,.m-height-1{ height: 10%; }
.m-b1,.m-basis1,.m-basis-1{ flex-basis: 10%; }
.m-f2,.m-font2,.m-font-2{ font-size: 1rem; }
.m-m2,.m-margin2,.m-margin-2{ margin: 0.2rem; }
.m-p2,.m-padding2,.m-padding-2{ padding: 0.2rem; }
.m-w2,.m-width2,.m-width-2{ width: 20%; }
.m-h2,.m-height2,.m-height-2{ height: 20%; }
.m-b2,.m-basis2,.m-basis-2{ flex-basis: 20%; }
.m-f3,.m-font3,.m-font-3{ font-size: 1.5rem; }
.m-m3,.m-margin3,.m-margin-3{ margin: 0.3rem; }
.m-p3,.m-padding3,.m-padding-3{ padding: 0.3rem; }
.m-w3,.m-width3,.m-width-3{ width: 30%; }
.m-h3,.m-height3,.m-height-3{ height: 30%; }
.m-b3,.m-basis3,.m-basis-3{ flex-basis: 30%; }
.m-f4,.m-font4,.m-font-4{ font-size: 2rem; }
.m-m4,.m-margin4,.m-margin-4{ margin: 0.4rem; }
.m-p4,.m-padding4,.m-padding-4{ padding: 0.4rem; }
.m-w4,.m-width4,.m-width-4{ width: 40%; }
.m-h4,.m-height4,.m-height-4{ height: 40%; }
.m-b4,.m-basis4,.m-basis-4{ flex-basis: 40%; }
.m-f5,.m-font5,.m-font-5{ font-size: 2.5rem; }
.m-m5,.m-margin5,.m-margin-5{ margin: 0.5rem; }
.m-p5,.m-padding5,.m-padding-5{ padding: 0.5rem; }
.m-w5,.m-width5,.m-width-5{ width: 50%; }
.m-h5,.m-height5,.m-height-5{ height: 50%; }
.m-b5,.m-basis5,.m-basis-5{ flex-basis: 50%; }
.m-f6,.m-font6,.m-font-6{ font-size: 3rem; }
.m-m6,.m-margin6,.m-margin-6{ margin: 0.6rem; }
.m-p6,.m-padding6,.m-padding-6{ padding: 0.6rem; }
.m-w6,.m-width6,.m-width-6{ width: 60%; }
.m-h6,.m-height6,.m-height-6{ height: 60%; }
.m-b6,.m-basis6,.m-basis-6{ flex-basis: 60%; }
.m-f7,.m-font7,.m-font-7{ font-size: 3.5rem; }
.m-m7,.m-margin7,.m-margin-7{ margin: 0.7rem; }
.m-p7,.m-padding7,.m-padding-7{ padding: 0.7rem; }
.m-w7,.m-width7,.m-width-7{ width: 70%; }
.m-h7,.m-height7,.m-height-7{ height: 70%; }
.m-b7,.m-basis7,.m-basis-7{ flex-basis: 70%; }
.m-f8,.m-font8,.m-font-8{ font-size: 4rem; }
.m-m8,.m-margin8,.m-margin-8{ margin: 0.8rem; }
.m-p8,.m-padding8,.m-padding-8{ padding: 0.8rem; }
.m-w8,.m-width8,.m-width-8{ width: 80%; }
.m-h8,.m-height8,.m-height-8{ height: 80%; }
.m-b8,.m-basis8,.m-basis-8{ flex-basis: 80%; }
.m-f9,.m-font9,.m-font-9{ font-size: 4.5rem; }
.m-m9,.m-margin9,.m-margin-9{ margin: 0.9rem; }
.m-p9,.m-padding9,.m-padding-9{ padding: 0.9rem; }
.m-w9,.m-width9,.m-width-9{ width: 90%; }
.m-h9,.m-height9,.m-height-9{ height: 90%; }
.m-b9,.m-basis9,.m-basis-9{ flex-basis: 90%; }
.m-f10,.m-font10,.m-font-10{ font-size: 5rem; }
.m-m10,.m-margin10,.m-margin-10{ margin: 1rem; }
.m-p10,.m-padding10,.m-padding-10{ padding: 1rem; }
.m-w10,.m-width10,.m-width-10{ width: 100%; }
.m-h10,.m-height10,.m-height-10{ height: 100%; }
.m-b10,.m-basis10,.m-basis-10{ flex-basis: 100%; }
}
@media only screen and (min-width: 65em) {
.l-row{display: flex;flex-direction: row;box-sizing: border-box;}
.l-col{display: flex;flex-direction: column;box-sizing: border-box;}
.l-row-reverse{display: flex;flex-direction: row-reverse;box-sizing: border-box;}
.l-col-reverse{display: flex;flex-direction: column-reverse;box-sizing: border-box;}
.l-first{ order: 1; }
.l-last{ order: -1; }
.l-grow{ flex-grow: 1; }
.l-nogrow{ flex-grow: 0; }
.l-shrink{ flex-shrink: 1; }
.l-noshrink{ flex-shrink: 0; }
.l-wrap{ flex-wrap: wrap; }
.l-nowrap{ flex-wrap: nowrap; }
.l-flex{ display: flex; }
.l-contain{ overflow: hidden; text-overflow: ellipsis; }
.row.l-top,.s-row.l-top,.m-row.l-top,.l-row.l-top{ align-items: start; align-content: start; }
.row.l-bottom,.s-row.l-bottom,.m-row.l-bottom,.l-row.l-bottom{ align-items: end; align-content: end; }
.row.l-middle,.s-row.l-middle,.m-row.l-middle,.l-row.l-middle{ align-items: center; align-content: center; }
.row.l-left,.s-row.l-left,.m-row.l-left,.l-row.l-left{ justify-items: start; justify-content: start; }
.row.l-right,.s-row.l-right,.m-row.l-right,.l-row.l-right{ justify-items: end; justify-content: end; }
.row.l-center,.s-row.l-center,.m-row.l-center,.l-row.l-center{ justify-items: center; justify-content: center; }
.row.l-reverse.l-top,.s-row.l-reverse.l-top,.m-row.l-reverse.l-top,.l-row.l-reverse.l-top{ align-items: start; align-content: end; }
.row.l-reverse.l-bottom,.s-row.l-reverse.l-bottom,.m-row.l-reverse.l-bottom,.l-row.l-reverse.l-bottom{ align-items: end; align-content: center; }
.row.l-reverse.l-middle,.s-row.l-reverse.l-middle,.m-row.l-reverse.l-middle,.l-row.l-reverse.l-middle{ align-items: center; align-content: start; }
.row.l-reverse.l-left,.s-row.l-reverse.l-left,.m-row.l-reverse.l-left,.l-row.l-reverse.l-left{ justify-items: end; justify-content: end; }
.row.l-reverse.l-right,.s-row.l-reverse.l-right,.m-row.l-reverse.l-right,.l-row.l-reverse.l-right{ justify-items: start; justify-content: start; }
.row.l-reverse.l-center,.s-row.l-reverse.l-center,.m-row.l-reverse.l-center,.l-row.l-reverse.l-center{ justify-items: center; justify-content: center; }
.col.l-top,.s-col.l-top,.m-col.l-top,.l-col.l-top{ justify-items: start; justify-content: start; }
.col.l-bottom,.s-col.l-bottom,.m-col.l-bottom,.l-col.l-bottom{ justify-items: end; justify-content: end; }
.col.l-middle,.s-col.l-middle,.m-col.l-middle,.l-col.l-middle{ justify-items: center; justify-content: center; }
.col.l-left,.s-col.l-left,.m-col.l-left,.l-col.l-left{ align-items: start; align-content: start; }
.col.l-right,.s-col.l-right,.m-col.l-right,.l-col.l-right{ align-items: end; align-content: end; }
.col.l-center,.s-col.l-center,.m-col.l-center,.l-col.l-center{ align-items: center; align-content: center; }
.col.l-reverse.l-top,.s-col.l-reverse.l-top,.m-col.l-reverse.l-top,.l-col.l-reverse.l-top{ justify-items: end; justify-content: end; }
.col.l-reverse.l-bottom,.s-col.l-reverse.l-bottom,.m-col.l-reverse.l-bottom,.l-col.l-reverse.l-bottom{ justify-items: start; justify-content: start; }
.col.l-reverse.l-middle,.s-col.l-reverse.l-middle,.m-col.l-reverse.l-middle,.l-col.l-reverse.l-middle{ justify-items: center; justify-content: center; }
.col.l-reverse.l-left,.s-col.l-reverse.l-left,.m-col.l-reverse.l-left,.l-col.l-reverse.l-left{ align-items: start; align-content: start; }
.col.l-reverse.l-right,.s-col.l-reverse.l-right,.m-col.l-reverse.l-right,.l-col.l-reverse.l-right{ align-items: end; align-content: end; }
.col.l-reverse.l-center,.s-col.l-reverse.l-center,.m-col.l-reverse.l-center,.l-col.l-reverse.l-center{ align-items: center; align-content: center; }
.l-row.l-reverse{ flex-direction: row-reverse; }
.l-col.l-reverse{ flex-direction: column-reverse; }
.l-align-self-end{ align-self: end; }
.l-align-self-start{ align-self: start; }
.l-align-self-center{ align-self: center; }
.l-align-self-stretch{ align-self: stretch; }
.l-align-self-around{ align-self: space-around; }
.l-align-self-evenly{ align-self: space-evenly; }
.l-align-self-between{ align-self: space-between; }
.l-align-content-end{ align-content: end; }
.l-align-content-start{ align-content: start; }
.l-align-content-center{ align-content: center; }
.l-align-content-stretch{ align-content: stretch; }
.l-align-content-around{ align-content: space-around; }
.l-align-content-evenly{ align-content: space-evenly; }
.l-align-content-between{ align-content: space-between; }
.l-align-items-end{ align-items: end; }
.l-align-items-start{ align-items: start; }
.l-align-items-center{ align-items: center; }
.l-align-items-stretch{ align-items: stretch; }
.l-align-items-around{ align-items: space-around; }
.l-align-items-evenly{ align-items: space-evenly; }
.l-align-items-between{ align-items: space-between; }
.l-justify-self-end{ justify-self: end; }
.l-justify-self-start{ justify-self: start; }
.l-justify-self-center{ justify-self: center; }
.l-justify-self-stretch{ justify-self: stretch; }
.l-justify-self-around{ justify-self: space-around; }
.l-justify-self-evenly{ justify-self: space-evenly; }
.l-justify-self-between{ justify-self: space-between; }
.l-justify-content-end{ justify-content: end; }
.l-justify-content-start{ justify-content: start; }
.l-justify-content-center{ justify-content: center; }
.l-justify-content-stretch{ justify-content: stretch; }
.l-justify-content-around{ justify-content: space-around; }
.l-justify-content-evenly{ justify-content: space-evenly; }
.l-justify-content-between{ justify-content: space-between; }
.l-justify-items-end{ justify-items: end; }
.l-justify-items-start{ justify-items: start; }
.l-justify-items-center{ justify-items: center; }
.l-justify-items-stretch{ justify-items: stretch; }
.l-justify-items-around{ justify-items: space-around; }
.l-justify-items-evenly{ justify-items: space-evenly; }
.l-justify-items-between{ justify-items: space-between; }
.l-w0,.l-width0.l-width-0{ width: 0; }
.l-wa,.l-widthauto,.l-width-auto{ width: auto; }
.l-wf,.l-widthfit,.l-width-fit{ width: fit-content; }
.l-h0,.l-height0.l-height-0{ height: 0; }
.l-ha,.l-heightauto,.l-height-auto{ height: auto; }
.l-hf,.l-heightfit,.l-height-fit{ height: fit-content; }
.l-b0,.l-basis0.l-basis-0{ flex-basis: 0; }
.l-ba,.l-basisauto,.l-basis-auto{ flex-basis: auto; }
.l-bf,.l-basisfit,.l-basis-fit{ flex-basis: fit-content; }
.l-m0,.l-margin0.l-margin-0{ margin: 0; }
.l-ma,.l-marginauto,.l-margin-auto{ margin: auto; }
.l-p0,.l-padding0,.l-padding-0{ padding: 0; }
.l-pa,.l-paddingauto,.l-padding-auto{ padding: auto; }
.l-f1,.l-font1,.l-font-1{ font-size: 0.9rem; }
.l-m1,.l-margin1,.l-margin-1{ margin: 0.1rem; }
.l-p1,.l-padding1,.l-padding-1{ padding: 0.1rem; }
.l-w1,.l-width1,.l-width-1{ width: 10%; }
.l-h1,.l-height1,.l-height-1{ height: 10%; }
.l-b1,.l-basis1,.l-basis-1{ flex-basis: 10%; }
.l-f2,.l-font2,.l-font-2{ font-size: 1rem; }
.l-m2,.l-margin2,.l-margin-2{ margin: 0.2rem; }
.l-p2,.l-padding2,.l-padding-2{ padding: 0.2rem; }
.l-w2,.l-width2,.l-width-2{ width: 20%; }
.l-h2,.l-height2,.l-height-2{ height: 20%; }
.l-b2,.l-basis2,.l-basis-2{ flex-basis: 20%; }
.l-f3,.l-font3,.l-font-3{ font-size: 1.5rem; }
.l-m3,.l-margin3,.l-margin-3{ margin: 0.3rem; }
.l-p3,.l-padding3,.l-padding-3{ padding: 0.3rem; }
.l-w3,.l-width3,.l-width-3{ width: 30%; }
.l-h3,.l-height3,.l-height-3{ height: 30%; }
.l-b3,.l-basis3,.l-basis-3{ flex-basis: 30%; }
.l-f4,.l-font4,.l-font-4{ font-size: 2rem; }
.l-m4,.l-margin4,.l-margin-4{ margin: 0.4rem; }
.l-p4,.l-padding4,.l-padding-4{ padding: 0.4rem; }
.l-w4,.l-width4,.l-width-4{ width: 40%; }
.l-h4,.l-height4,.l-height-4{ height: 40%; }
.l-b4,.l-basis4,.l-basis-4{ flex-basis: 40%; }
.l-f5,.l-font5,.l-font-5{ font-size: 2.5rem; }
.l-m5,.l-margin5,.l-margin-5{ margin: 0.5rem; }
.l-p5,.l-padding5,.l-padding-5{ padding: 0.5rem; }
.l-w5,.l-width5,.l-width-5{ width: 50%; }
.l-h5,.l-height5,.l-height-5{ height: 50%; }
.l-b5,.l-basis5,.l-basis-5{ flex-basis: 50%; }
.l-f6,.l-font6,.l-font-6{ font-size: 3rem; }
.l-m6,.l-margin6,.l-margin-6{ margin: 0.6rem; }
.l-p6,.l-padding6,.l-padding-6{ padding: 0.6rem; }
.l-w6,.l-width6,.l-width-6{ width: 60%; }
.l-h6,.l-height6,.l-height-6{ height: 60%; }
.l-b6,.l-basis6,.l-basis-6{ flex-basis: 60%; }
.l-f7,.l-font7,.l-font-7{ font-size: 3.5rem; }
.l-m7,.l-margin7,.l-margin-7{ margin: 0.7rem; }
.l-p7,.l-padding7,.l-padding-7{ padding: 0.7rem; }
.l-w7,.l-width7,.l-width-7{ width: 70%; }
.l-h7,.l-height7,.l-height-7{ height: 70%; }
.l-b7,.l-basis7,.l-basis-7{ flex-basis: 70%; }
.l-f8,.l-font8,.l-font-8{ font-size: 4rem; }
.l-m8,.l-margin8,.l-margin-8{ margin: 0.8rem; }
.l-p8,.l-padding8,.l-padding-8{ padding: 0.8rem; }
.l-w8,.l-width8,.l-width-8{ width: 80%; }
.l-h8,.l-height8,.l-height-8{ height: 80%; }
.l-b8,.l-basis8,.l-basis-8{ flex-basis: 80%; }
.l-f9,.l-font9,.l-font-9{ font-size: 4.5rem; }
.l-m9,.l-margin9,.l-margin-9{ margin: 0.9rem; }
.l-p9,.l-padding9,.l-padding-9{ padding: 0.9rem; }
.l-w9,.l-width9,.l-width-9{ width: 90%; }
.l-h9,.l-height9,.l-height-9{ height: 90%; }
.l-b9,.l-basis9,.l-basis-9{ flex-basis: 90%; }
.l-f10,.l-font10,.l-font-10{ font-size: 5rem; }
.l-m10,.l-margin10,.l-margin-10{ margin: 1rem; }
.l-p10,.l-padding10,.l-padding-10{ padding: 1rem; }
.l-w10,.l-width10,.l-width-10{ width: 100%; }
.l-h10,.l-height10,.l-height-10{ height: 100%; }
.l-b10,.l-basis10,.l-basis-10{ flex-basis: 100%; }
}
