article {
    --back-lit: var(--back-lit-1);
    --mean-lit: var(--mean-lit-1);
    --fore-lit: var(--fore-lit-1);

    border-radius: var(--border-radius);
    color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit), var(--fore-alp));
    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit), var(--back-alp));
}