body {

    --back-hue: var(--hue);
    --back-lit: var(--lit-000);
    --back-sat: var(--sat);
    --back-alp: var(--alp);

    --mean-hue: var(--hue);
    --mean-sat: var(--sat);
    --mean-lit: var(--lit-001);
    --mean-alp: var(--alp);

    --fore-hue: var(--hue);
    --fore-lit: var(--lit-002);
    --fore-sat: var(--sat);
    --fore-alp: var(--alp);

    --accent-back-hue: var(--hue);
    --accent-back-sat: var(--sat);
    --accent-back-lit: var(--lit-010);
    --accent-back-alp: var(--alp);

    --accent-fore-hue: var(--hue);
    --accent-fore-sat: var(--sat);
    --accent-fore-lit: var(--lit-011);
    --accent-fore-alp: var(--alp);

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    min-height: 100%;
    max-height: 100%;

    overflow: hidden;

    color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit));
    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit));
}

body>header {
    flex: 1 1 auto;
    margin: var(--margin);
    padding: var(--padding);
}

body>nav {
    flex: 1 1 auto;
    margin: var(--margin);
    padding: var(--padding);
}

body>main {
    width: 100%;

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;

    overflow: auto;
    font-size: inherit;

    margin: var(--main-margin);
    padding: var(--main-padding);
}

body>footer {
    flex: 1 1 auto;
    margin: var(--margin);
    padding: var(--padding);
}