button,
input[type=button],
input[type=submit] {
    border: none;
    outline: none;
    appearance: none;
    user-select: none;
    text-decoration: none;

    cursor: pointer;

    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;

    transition: var(--transition);

    margin: var(--button-margin);
    padding: var(--button-padding);

    color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit));
    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit));

    border-color: transparent;
    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-radius: var(--button-border-radius);
}

button[disabled],
input[disabled][type=button],
input[disabled][type=submit] {
    border-style: var(--button-border-style-disabled);
    border-width: var(--button-border-width-disabled);
    color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit));
    border-color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit), var(--mean-lit));
}

button:hover:not([disabled]),
button:active:not([disabled]),
button:focus-visible:not([disabled]),
input[type=button]:hover:not([disabled]),
input[type=button]:active:not([disabled]),
input[type=button]:focus-visible:not([disabled]),
input[type=submit]:hover:not([disabled]),
input[type=submit]:active:not([disabled]),
input[type=submit]:focus-visible:not([disabled]) {
    cursor: pointer;

    border-radius: var(--button-border-radius-active);

    color: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));
    background: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit), var(--accent-alp));
}

button>:first-child,
input[type=submit]>:first-child,
input[type=button]>:first-child {
    color: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));
}