a,
button,
input[type=button],
input[type=submit] {
    border: none;
    outline: none;
    appearance: none;
    user-select: none;
    text-decoration: none;

    cursor: pointer;

    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    display: inline-flex;
    justify-content: center;

    transition: var(--transition);

    margin: var(--button-margin);
    padding: var(--button-padding);

    color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit), var(--fore-alp));
    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit), var(--back-alp));

    border-color: transparent;
    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-radius: var(--button-border-radius);
}

a:disabled,
button:disabled,
input:disabled[type=button],
input:disabled[type=submit] {
    border-style: var(--button-border-style-disabled);
    border-width: var(--button-border-width-disabled);
    color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit), var(--mean-alp));
    border-color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit), var(--mean-alp));
}

a:hover:not(:disabled),
a:active:not(:disabled),
a:focus:not(:disabled),
a:focus-within:not(:disabled),
a:focus-visible:not(:disabled),
button:hover:not([disabled]),
button:active:not([disabled]),
button:focus:not([disabled]),
button:focus-within:not([disabled]),
button:focus-visible:not([disabled]),
input[type=button]:hover:not([disabled]),
input[type=button]:active:not([disabled]),
input[type=button]:focus:not([disabled]),
input[type=button]:focus-within:not([disabled]),
input[type=button]:focus-visible:not([disabled]),
input[type=submit]:hover:not([disabled]),
input[type=submit]:active:not([disabled]),
input[type=submit]:focus:not([disabled]),
input[type=submit]:focus-within:not([disabled]),
input[type=submit]:focus-visible:not([disabled]) {
    cursor: pointer;

    border-radius: var(--button-border-radius-active);

    color: hsl(var(--accent-fore-hue), var(--accent-fore-sat), var(--accent-fore-lit), var(--accent-fore-alp));
    background: hsl(var(--accent-back-hue), var(--accent-back-sat), var(--accent-back-lit), var(--accent-back-alp));
}

button>:first-child,
input[type=submit]>:first-child,
input[type=button]>:first-child {
    color: hsl(var(--accent-fore-hue), var(--accent-fore-sat), var(--accent-fore-lit), var(--accent-fore-alp));
}

a {
    color: hsl(var(--accent-fore-hue), var(--accent-fore-sat), var(--accent-fore-lit), var(--accent-fore-alp));
}

p>a,
figcaption>a {
    margin: 0.1rem;
    padding: 0.25rem;
}