@media (prefers-color-scheme: dark) {

    :root,
    ::backdrop {

        /* layer 0 */
        --back-hue-0: 0deg;
        --back-sat-0: 0%;
        --back-lit-0: 5%;
        --back-alp-0: 100%;

        --mean-hue-0: 0deg;
        --mean-sat-0: 0%;
        --mean-lit-0: 65%;
        --mean-alp-0: 100%;

        --fore-hue-0: 0deg;
        --fore-sat-0: 0%;
        --fore-lit-0: 90%;
        --fore-alp-0: 100%;
        /* layer 0 */

        /* layer 1 */
        --back-hue-1: 0deg;
        --back-sat-1: 0%;
        --back-lit-1: 10%;
        --back-alp-1: 100%;

        --mean-hue-1: 0deg;
        --mean-sat-1: 0%;
        /* --mean-lit-1: 30%; */
        --mean-lit-1: 65%;
        --mean-alp-1: 100%;

        --fore-hue-1: 0deg;
        --fore-sat-1: 0%;
        --fore-lit-1: 90%;
        --fore-alp-1: 100%;
        /* layer 1 */

        /* layer 2 */
        --back-hue-2: 0deg;
        --back-sat-2: 0%;
        --back-lit-2: 20%;
        --back-alp-2: 100%;

        --mean-hue-2: 0deg;
        --mean-sat-2: 0%;
        --mean-lit-2: 30%;
        --mean-alp-2: 100%;

        --fore-hue-2: 0deg;
        --fore-sat-2: 0%;
        --fore-lit-2: 90%;
        --fore-alp-2: 100%;
        /* layer 2 */

        /* layer 3 */
        --back-hue-3: 0deg;
        --back-sat-3: 0%;
        --back-lit-3: 30%;
        --back-alp-3: 100%;

        --mean-hue-3: 0deg;
        --mean-sat-3: 0%;
        --mean-lit-3: 20%;
        --mean-alp-3: 100%;

        --fore-hue-3: 0deg;
        --fore-sat-3: 0%;
        --fore-lit-3: 95%;
        --fore-alp-3: 100%;
        /* layer 3 */

        --red-back-hue: 0deg;
        --red-back-sat: 60%;
        --red-back-lit: 15%;
        --red-back-alp: 100%;

        --red-fore-hue: 0deg;
        --red-fore-sat: 60%;
        --red-fore-lit: 85%;
        --red-fore-alp: 100%;

        --orange-back-hue: 30deg;
        --orange-back-sat: 60%;
        --orange-back-lit: 20%;
        --orange-back-alp: 100%;

        --orange-fore-hue: 30deg;
        --orange-fore-sat: 60%;
        --orange-fore-lit: 80%;
        --orange-fore-alp: 100%;

        --yellow-back-hue: 50deg;
        --yellow-back-sat: 60%;
        --yellow-back-lit: 20%;
        --yellow-back-alp: 100%;

        --yellow-fore-hue: 50deg;
        --yellow-fore-sat: 60%;
        --yellow-fore-lit: 80%;
        --yellow-fore-alp: 100%;

        --green-back-hue: 150deg;
        --green-back-sat: 60%;
        --green-back-lit: 20%;
        --green-back-alp: 100%;

        --green-fore-hue: 150deg;
        --green-fore-sat: 60%;
        --green-fore-lit: 80%;
        --green-fore-alp: 100%;

        --blue-back-hue: 215deg;
        --blue-back-sat: 60%;
        --blue-back-lit: 20%;
        --blue-back-alp: 100%;

        --blue-fore-hue: 215deg;
        --blue-fore-sat: 60%;
        --blue-fore-lit: 80%;
        --blue-fore-alp: 100%;

        --purple-back-hue: 270deg;
        --purple-back-sat: 60%;
        --purple-back-lit: 20%;
        --purple-back-alp: 100%;

        --purple-fore-hue: 270deg;
        --purple-fore-sat: 60%;
        --purple-fore-lit: 80%;
        --purple-fore-alp: 100%;

        --pink-back-hue: 300deg;
        --pink-back-sat: 60%;
        --pink-back-lit: 20%;
        --pink-back-alp: 100%;

        --pink-fore-hue: 300deg;
        --pink-fore-sat: 60%;
        --pink-fore-lit: 80%;
        --pink-fore-alp: 100%;

        --backdrop-background: hsl(0deg, 0%, 70%, 50%);

        color-scheme: dark;
    }
}