details {
    flex: 1 1 100%;

    margin: 0.25rem;
    padding: 0.25rem;

    border-width: var(--details-border-width);
    border-style: var(--details-border-style);
    border-radius: var(--details-border-radius);
    border-color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit), 10%);
}

details>summary {
    appearance: none;
    user-select: none;

    padding: 0.5rem;
    border-radius: var(--details-border-radius);

    cursor: pointer;
    list-style: none;
    font-weight: normal;
    transition: var(--transition);
}

details>summary:hover {
    color: hsl(var(--accent-fore-hue), var(--accent-fore-sat), var(--accent-fore-lit), var(--accent-fore-alp));
    background: hsl(var(--accent-back-hue), var(--accent-back-sat), var(--accent-back-lit), var(--accent-back-alp));
}

details>summary>:first-child {
    color: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));
}

details>summary::after {
    content: '';

    width: 1rem;
    height: 1rem;
    float: right;
    display: inline-flex;

    background: hsl(var(--accent-back-hue), var(--accent-back-sat), var(--accent-back-lit), var(--accent-back-alp));
}

details>summary::after {
    clip-path: var(--icon-down);
}

details[open]>summary::after {
    clip-path: var(--icon-up);
}

details>summary:hover::after {
    background: hsl(var(--accent-fore-hue), var(--accent-fore-sat), var(--accent-fore-lit), var(--accent-fore-alp));
}