fieldset {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 0.25rem;
    padding: 0.25rem;

    max-width: 100%;
    min-width: auto;

    border-style: solid;
    border-radius: var(--border-radius);
    border-width: var(--input-border-width);
    border-color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit), 10%);
}

fieldset>legend {
    padding: 0;

    font-size: 1rem;
    color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit), var(--mean-alp));
}

label {
    margin: 0.25rem;
    padding: 0.25rem;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    max-width: 100%;
    min-width: auto;

    border-radius: var(--border-radius);
}

/* label:has(input, select, textarea) { */
/* color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit), var(--fore-alp)); */
/* background: hsl(var(--back-hue), var(--back-sat), var(--back-lit), var(--back-alp)); */
/* } */

label:has(input, select, textarea):hover,
label:has(input, select, textarea):focus,
label:has(input, select, textarea):focus-within,
label:has(input, select, textarea):focus-visible {
    --back-hue: var(--back-hue-1);
    --back-sat: var(--back-sat-1);
    --back-lit: var(--back-lit-1);
    --back-alp: var(--back-alp-1);

    --mean-hue: var(--mean-hue-1);
    --mean-sat: var(--mean-sat-1);
    --mean-lit: var(--mean-lit-1);
    --mean-alp: var(--mean-alp-1);

    --fore-hue: var(--fore-hue-1);
    --fore-sat: var(--fore-sat-1);
    --fore-lit: var(--fore-lit-1);
    --fore-alp: var(--fore-alp-1);

    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit), var(--back-alp));
}

label:has(input, select, textarea)>:first-child {
    padding: 0.25rem;
    color: hsl(var(--mean-hue), var(--mean-sat), var(--mean-lit), var(--mean-alp));
}


label:has(input[type=radio]:not([disabled], [readonly]), input[type=checkbox]:not([disabled], [readonly])) {
    cursor: pointer;
}

label:has(input[type=radio], input[type=checkbox]) {
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
}

select,
textarea,
input:not([type=image],
    [type=radio],
    [type=reset],
    [type=submit],
    [type=hidden],
    [type=button],
    [type=checkbox]) {
    outline: none;
    appearance: none;

    display: block;
    box-sizing: border-box;

    max-width: 100%;

    min-width: 100%;
    min-height: 2.5rem;

    inline-size: 10rem;

    block-size: 2.5rem;
    min-block-size: 2.5rem;

    padding: 0.25rem;

    font-size: 1rem;

    color: inherit;
    background: inherit;

    transition: var(--transition);

    border-style: solid;
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);

    color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit), var(--fore-alp));
    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit), var(--back-alp));

    accent-color: hsl(var(--accent-back-hue), var(--accent-back-sat), var(--accent-back-lit), var(--accent-back-alp));
    border-color: hsl(var(--accent-back-hue), var(--accent-back-sat), var(--accent-back-lit), var(--accent-fore-alp));
}

select {
    cursor: pointer;
}

select::-ms-expand {
    border: 0;
    font-size: 1rem;
}

textarea {
    font-size: 1rem;
    max-width: 100%;
    min-width: 100%;
    max-height: 30rem;
}

input[type=color] {
    border: none;
    cursor: pointer;
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
    box-sizing: border-box;
}

input[type=color]::-moz-focus-inner {
    padding: 0;
}

input[type=color]::-webkit-color-swatch {
    border: 0;
    border-radius: var(--border-radius);
}

input[type=color]::-moz-color-swatch {
    border: 0;
    border-radius: var(--border-radius);
}

select[readonly],
textarea[readonly],
input[readonly]:not([type=image],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button]) {
    cursor: default;
    user-select: none;
    pointer-events: none;
}

select:disabled,
textarea:disabled,
input:disabled:not([type=image],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button]) {
    cursor: default;
    user-select: none;
    pointer-events: none;
    border-style: dotted;
}

select[placeholder]:invalid:not(:placeholder-shown, :focus),
textarea[placeholder]:invalid:not(:placeholder-shown, :focus),
input[placeholder]:invalid:not(:placeholder-shown, :focus,
    [type=image],
    [type=radio],
    [type=reset],
    [type=hidden],
    [type=submit],
    [type=button]) {
    border-color: var(--error);
}

/*
    file
*/
input[type=file] {
    cursor: pointer;
}

input[type=file]::file-selector-button {
    display: none;
    cursor: pointer;
}