@import './root.css';
@import './input.css';
@import './button.css';
@import './dialog.css';
@import './details.css';
@import './section.css';
@import './article.css';
@import './progress.css';

/*
    utilities
*/

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.border,
.border-children>* {
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: hsl(var(--mean-hue-1), var(--mean-sat-1), var(--mean-lit-1), var(--mean-alp));
}

.border-bottom {
    border-bottom: 2px solid hsl(var(--mean-hue-1), var(--mean-sat-1), var(--mean-lit-1), var(--mean-alp));
}

/*
    accent
*/

.accent-red {
    --accent-hue: var(--red-hue);
    --accent-sat: var(--red-sat);
    --accent-lit: var(--red-lit);
}

.accent-green {
    --accent-hue: var(--green-hue);
    --accent-sat: var(--green-sat);
    --accent-lit: var(--green-lit);
}

.accent-blue {
    --accent-hue: var(--blue-hue);
    --accent-sat: var(--blue-sat);
    --accent-lit: var(--blue-lit);
}

.accent-yellow {
    --accent-hue: var(--yellow-hue);
    --accent-sat: var(--yellow-sat);
    --accent-lit: var(--yellow-lit);
}

.accent-warn {
    --accent-hue: var(--warn-hue);
    --accent-sat: var(--warn-sat);
    --accent-lit: var(--warn-lit);
}

.accent-error {
    --accent-hue: var(--error-hue);
    --accent-sat: var(--error-sat);
    --accent-lit: var(--error-lit);
}

.accent-success {
    --accent-hue: var(--success-hue);
    --accent-sat: var(--success-sat);
    --accent-lit: var(--success-lit);
}

.accent-red,
.accent-green,
.accent-blue,
.accent-yellow,
.accent-error,
.accent-success,
.accent-safe,
.accent-warn {
    --progress-accent: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));
    --progress-background: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit), var(--accent-alp));
}

/*
    fill
*/

.red,
.red-children>* {
    color: hsl(var(--red-hue), var(--red-sat), var(--red-lit));
    background: hsl(var(--red-hue), var(--red-sat), var(--red-lit), var(--red-alp));
}

.green,
.green-children>* {
    color: hsl(var(--green-hue), var(--green-sat), var(--green-lit));
    background: hsl(var(--green-hue), var(--green-sat), var(--green-lit), var(--green-alp));
}

.blue,
.blue-children>* {
    color: hsl(var(--blue-hue), var(--blue-sat), var(--blue-lit));
    background: hsl(var(--blue-hue), var(--blue-sat), var(--blue-lit), var(--blue-alp));
}

.yellow,
.yellow-children>* {
    color: hsl(var(--yellow-hue), var(--yellow-sat), var(--yellow-lit));
    background: hsl(var(--yellow-hue), var(--yellow-sat), var(--yellow-lit), var(--yellow-alp));
}


.error,
.error-children>* {
    color: hsl(var(--error-hue), var(--error-sat), var(--error-lit));
    background: hsl(var(--error-hue), var(--error-sat), var(--error-lit), var(--error-alp));
}

.warn,
.warn-children>* {
    color: hsl(var(--warn-hue), var(--warn-sat), var(--warn-lit));
    background: hsl(var(--warn-hue), var(--warn-sat), var(--warn-lit), var(--warn-alp));
}

.success,
.success-children>* {
    color: hsl(var(--success-hue), var(--success-sat), var(--success-lit));
    background: hsl(var(--success-hue), var(--success-sat), var(--success-lit), var(--success-alp));
}

.safe,
.safe-children>* {
    color: hsl(var(--safe-hue), var(--safe-sat), var(--safe-lit));
    background: hsl(var(--safe-hue), var(--safe-sat), var(--safe-lit), var(--safe-alp));
}


.warn,
.warn-children>* {
    color: hsl(var(--warn-hue), var(--warn-sat), var(--warn-lit));
    background: hsl(var(--warn-hue), var(--warn-sat), var(--warn-lit), var(--warn-alp));
}

/*
    browser
*/

::-webkit-scrollbar {
    width: 10px;
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 5%);
}

::-webkit-scrollbar-thumb {
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 10%);
}

::-webkit-scrollbar:hover {
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 5%);
}

::-webkit-scrollbar-thumb:hover {
    transition: var(--transition);
    background: hsl(0deg 0% 50% / 20%);
}

@media screen and (max-width: 65em) {
    body>main {
        padding: 1vh 2vw;
    }
}