* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {

    :root,
    ::backdrop {

        /* back */
        --root-back-hue-1: 0deg;
        --root-back-hue-2: 0deg;
        --root-back-hue-3: 0deg;
        --root-back-hue-4: 0deg;

        --root-back-sat-1: 0%;
        --root-back-sat-2: 0%;
        --root-back-sat-3: 0%;
        --root-back-sat-4: 0%;

        --root-back-lit-1: 100%;
        --root-back-lit-2: 90%;
        --root-back-lit-3: 85%;
        --root-back-lit-4: 80%;

        /* fore */
        --root-fore-hue-1: 0deg;
        --root-fore-hue-2: 0deg;
        --root-fore-hue-3: 0deg;
        --root-fore-hue-4: 0deg;

        --root-fore-sat-1: 0%;
        --root-fore-sat-2: 0%;
        --root-fore-sat-3: 0%;
        --root-fore-sat-4: 0%;

        --root-fore-lit-1: 15%;
        --root-fore-lit-2: 15%;
        --root-fore-lit-3: 15%;
        --root-fore-lit-5: 15%;

        /* mean */
        --root-mean-hue-1: 0deg;
        --root-mean-hue-2: 0deg;
        --root-mean-hue-3: 0deg;
        --root-mean-hue-4: 0deg;

        --root-mean-sat-1: 0%;
        --root-mean-sat-2: 0%;
        --root-mean-sat-3: 0%;
        --root-mean-sat-4: 0%;

        --root-mean-lit-1: 40%;
        --root-mean-lit-2: 35%;
        --root-mean-lit-3: 30%;
        --root-mean-lit-4: 25%;

        /* accent */
        --accent-hue: 0deg;
        --accent-sat: 0%;
        --accent-lit: 10%;
        --accent-alp: 0.2;

        --red-hue: 0deg;
        --red-sat: 100%;
        --red-lit: 15%;
        --red-alp: 0.2;

        --orange-hue: 30deg;
        --orange-sat: 100%;
        --orange-lit: 15%;
        --orange-alp: 0.2;

        --yellow-hue: 50deg;
        --yellow-sat: 100%;
        --yellow-lit: 15%;
        --yellow-alp: 0.2;

        --green-hue: 150deg;
        --green-sat: 100%;
        --green-lit: 15%;
        --green-alp: 0.2;

        --blue-hue: 200deg;
        --blue-sat: 100%;
        --blue-lit: 15%;
        --blue-alp: 0.2;

        --purple-hue: 250deg;
        --purple-sat: 100%;
        --purple-lit: 15%;
        --purple-alp: 0.2;

        --pink-hue: 300deg;
        --pink-sat: 100%;
        --pink-lit: 15%;
        --pink-alp: 0.2;

        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {

    :root,
    ::backdrop {

        --hue: 0deg;
        --sat: 0%;
        --alp: 1;

        --lit-000: 5%;
        --lit-001: 65%;
        --lit-002: 85%;
        --lit-010: 90%;
        --lit-011: 10%;

        --lit-100: 10%;
        --lit-101: 75%;
        --lit-102: 95%;
        --lit-110: 80%;
        --lit-111: 20%;

        /* layer 0 */
        /* --back-hue-0: var(--hue);
        --back-sat-0: var(--sat);
        --back-lit-0: 5%;
        --back-alp-0: var(--alp);

        --mean-hue-0: var(--hue);
        --mean-sat-0: var(--sat);
        --mean-lit-0: 65%;
        --mean-alp-0: var(--alp);

        --fore-hue-0: var(--hue);
        --fore-sat-0: var(--sat);
        --fore-lit-0: 95%;
        --fore-alp-0: var(--alp);

        --accent-back-hue-0: var(--hue);
        --accent-back-sat-0: var(--sat);
        --accent-back-lit-0: 90%;
        --accent-back-alp-0: 0.8;

        --accent-fore-hue-0: var(--hue);
        --accent-fore-sat-0: var(--sat);
        --accent-fore-lit-0: 10%;
        --accent-fore-alp-0: var(--alp); */
        /* layer 0 */

        /* layer 1 */
        /* --back-hue-1: var(--hue);
        --back-sat-1: var(--sat);
        --back-lit-1: 10%;
        --back-alp-1: var(--alp);

        --mean-hue-1: var(--hue);
        --mean-sat-1: var(--sat);
        --mean-lit-1: 75%;
        --mean-alp-1: var(--alp);

        --fore-hue-1: var(--hue);
        --fore-sat-1: var(--sat);
        --fore-lit-1: 85%;
        --fore-alp-1: var(--alp);

        --accent-back-hue-1: var(--hue);
        --accent-back-sat-1: var(--sat);
        --accent-back-lit-1: 100%;
        --accent-back-alp-1: 0.8;

        --accent-fore-hue-1: var(--hue);
        --accent-fore-sat-1: var(--sat);
        --accent-fore-lit-1: 0%;
        --accent-fore-alp-1: var(--alp); */
        /* layer 1 */

        --color-back-sat: var(--sat);
        --color-back-lit: 20%;
        --color-back-alp: 0.8;

        --color-fore-sat: var(--sat);
        --color-fore-lit: 80%;
        --color-fore-alp: var(--alp);

        /* red */
        --red-back-hue: 0deg;
        --red-back-sat: var(--color-back-sat);
        --red-back-lit: var(--color-back-lit);
        --red-back-alp: var(--color-back-alp);
        --red-fore-hue: 0deg;
        --red-fore-sat: var(--color-fore-sat);
        --red-fore-lit: var(--color-fore-lit);
        --red-fore-alp: var(--color-fore-alp);
        /* red */

        /* orange */
        --orange-back-hue: 30deg;
        --orange-back-sat: var(--color-back-sat);
        --orange-back-lit: var(--color-back-lit);
        --orange-back-alp: var(--color-back-alp);
        --orange-fore-hue: 30deg;
        --orange-fore-sat: var(--color-fore-sat);
        --orange-fore-lit: var(--color-fore-lit);
        --orange-fore-alp: var(--color-fore-alp);
        /* orange */

        /* yellow */
        --yellow-back-hue: 50deg;
        --yellow-back-sat: var(--color-back-sat);
        --yellow-back-lit: var(--color-back-lit);
        --yellow-back-alp: var(--color-back-alp);
        --yellow-fore-hue: 50deg;
        --yellow-fore-sat: var(--color-fore-sat);
        --yellow-fore-lit: var(--color-fore-lit);
        --yellow-fore-alp: var(--color-fore-alp);

        /* yellow */

        /* green */
        --green-back-hue: 150deg;
        --green-back-sat: var(--color-back-sat);
        --green-back-lit: var(--color-back-lit);
        --green-back-alp: var(--color-back-alp);
        --green-fore-hue: 150deg;
        --green-fore-sat: var(--color-fore-sat);
        --green-fore-lit: var(--color-fore-lit);
        --green-fore-alp: var(--color-fore-alp);
        /* green */

        /* blue */
        --blue-back-hue: 215deg;
        --blue-back-sat: var(--color-back-sat);
        --blue-back-lit: var(--color-back-lit);
        --blue-back-alp: var(--color-back-alp);
        --blue-fore-hue: 215deg;
        --blue-fore-sat: var(--color-fore-sat);
        --blue-fore-lit: var(--color-fore-lit);
        --blue-fore-alp: var(--color-fore-alp);
        /* blue */

        /* purple */
        --purple-back-hue: 270deg;
        --purple-back-sat: var(--color-back-sat);
        --purple-back-lit: var(--color-back-lit);
        --purple-back-alp: var(--color-back-alp);
        --purple-fore-hue: 270deg;
        --purple-fore-sat: var(--color-fore-sat);
        --purple-fore-lit: var(--color-fore-lit);
        --purple-fore-alp: var(--color-fore-alp);
        /* purple */

        /* pink */
        --pink-back-hue: 300deg;
        --pink-back-sat: var(--color-back-sat);
        --pink-back-lit: var(--color-back-lit);
        --pink-back-alp: var(--color-back-alp);
        --pink-fore-hue: 300deg;
        --pink-fore-sat: var(--color-fore-sat);
        --pink-fore-lit: var(--color-fore-lit);
        --pink-fore-alp: var(--color-fore-alp);
        /* pink */

        color-scheme: dark;
    }
}

:root,
::backdrop {

    --error-back-hue: var(--red-back-hue);
    --error-back-sat: var(--red-back-sat);
    --error-back-lit: var(--red-back-lit);
    --error-back-alp: var(--red-back-alp);
    --error-fore-hue: var(--red-fore-hue);
    --error-fore-sat: var(--red-fore-sat);
    --error-fore-lit: var(--red-fore-lit);
    --error-fore-alp: var(--red-fore-alp);

    --warn-back-hue: var(--yellow-back-hue);
    --warn-back-sat: var(--yellow-back-sat);
    --warn-back-lit: var(--yellow-back-lit);
    --warn-back-alp: var(--yellow-back-alp);
    --warn-fore-hue: var(--yellow-fore-hue);
    --warn-fore-sat: var(--yellow-fore-sat);
    --warn-fore-lit: var(--yellow-fore-lit);
    --warn-fore-alp: var(--yellow-fore-alp);

    --success-back-hue: var(--green-back-hue);
    --success-back-sat: var(--green-back-sat);
    --success-back-lit: var(--green-back-lit);
    --success-back-alp: var(--green-back-alp);
    --success-fore-hue: var(--green-fore-hue);
    --success-fore-sat: var(--green-fore-sat);
    --success-fore-lit: var(--green-fore-lit);
    --success-fore-alp: var(--green-fore-alp);

    --safe-back-hue: var(--blue-back-hue);
    --safe-back-sat: var(--blue-back-sat);
    --safe-back-lit: var(--blue-back-lit);
    --safe-back-alp: var(--blue-back-alp);
    --safe-fore-hue: var(--blue-fore-hue);
    --safe-fore-sat: var(--blue-fore-sat);
    --safe-fore-lit: var(--blue-fore-lit);
    --safe-fore-alp: var(--blue-fore-alp);

    --transition:
        linear color 150ms,
        linear border 150ms,
        linear outline 150ms,
        linear opacity 150ms,
        linear transform 150ms,
        linear box-shadow 150ms,
        linear border-radius 150ms,
        linear background-color 150ms;
    /* linear background 150ms, */

    --font-size: 18px;
    --font-family: sans-serif;

    --radio-size: 1.25rem;
    --checkbox-size: 1.25rem;

    --margin: 0.25rem;
    --padding: 0.25rem;

    /* border */
    --border-width: 3px;
    --border-radius: 3px;
    --border-style: solid;
    --border-width-disabled: 2px;
    --border-style-disabled: dotted;
    /* border */

    --main-margin: 0;
    --main-padding: 2vh 15vw;

    /* input */
    --input-border-width: var(--border-width);
    --input-border-radius: var(--border-radius);
    /* input */

    /* button */
    --button-margin: 0.15rem;
    --button-padding: 0.5rem;
    --button-border-radius: 1rem;
    --button-border-width: var(--border-width);
    --button-border-style: var(--border-style);
    --button-border-radius-active: 1rem;
    --button-border-style-disabled: var(--border-style-disabled);
    --button-border-width-disabled: var(--border-width-disabled);
    /* button */

    /* dialog */
    --dialog-backdrop-filter: blur(10px);
    --dialog-border-radius: var(--border-radius);
    --dialog-backdrop-transition: var(--transition);
    --dialog-backdrop-background: hsl(0deg, 0%, 50% / 50%);
    /* dialog */

    /* details */
    --details-border-style: var(--border-style);
    --details-border-width: var(--border-width);
    --details-border-radius: var(--border-radius);
    /* details*/

    /* progress */
    --progress-margin: var(--margin);
    --progress-border-radius: var(--border-radius);
    --progress-fore: hsl(var(--accent-fore-hue), var(--accent-fore-sat), var(--accent-fore-lit), var(--accent-fore-alp));
    --progress-back: hsl(var(--accent-back-hue), var(--accent-back-sat), var(--accent-back-lit), var(--accent-back-alp));
    /* progress */

    --label-border-radius: var(--border-radius);
    --toast-border-radius: var(--border-radius);
    --article-border-radius: var(--border-radius);
    --fieldset-border-radius: var(--border-radius);

    --icon-down: polygon(12% 25%, 50% 55%, 88% 25%, 100% 40%, 50% 80%, 0% 40%);
    --icon-up: polygon(0% 70%, 50% 25%, 100% 70%, 85% 85%, 50% 55%, 15% 85%);

    font-size: var(--font-size);
    font-family: var(--font-family);
    color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit));
    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit));
    accent-color: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    min-height: 100%;
    max-height: 100%;

    overflow: hidden;
}

template,
[hidden],
:not(:defined) {
    display: none !important;
}

:where(audio, canvas, iframe, img, svg, video) {
    vertical-align: middle;
}