* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {

    :root,
    ::backdrop {

        /* back */
        --root-back-hue-1: 0deg;
        --root-back-hue-2: 0deg;
        --root-back-hue-3: 0deg;
        --root-back-hue-4: 0deg;

        --root-back-sat-1: 0%;
        --root-back-sat-2: 0%;
        --root-back-sat-3: 0%;
        --root-back-sat-4: 0%;

        --root-back-lit-1: 100%;
        --root-back-lit-2: 90%;
        --root-back-lit-3: 85%;
        --root-back-lit-4: 80%;

        /* fore */
        --root-fore-hue-1: 0deg;
        --root-fore-hue-2: 0deg;
        --root-fore-hue-3: 0deg;
        --root-fore-hue-4: 0deg;

        --root-fore-sat-1: 0%;
        --root-fore-sat-2: 0%;
        --root-fore-sat-3: 0%;
        --root-fore-sat-4: 0%;

        --root-fore-lit-1: 15%;
        --root-fore-lit-2: 15%;
        --root-fore-lit-3: 15%;
        --root-fore-lit-5: 15%;

        /* mean */
        --root-mean-hue-1: 0deg;
        --root-mean-hue-2: 0deg;
        --root-mean-hue-3: 0deg;
        --root-mean-hue-4: 0deg;

        --root-mean-sat-1: 0%;
        --root-mean-sat-2: 0%;
        --root-mean-sat-3: 0%;
        --root-mean-sat-4: 0%;

        --root-mean-lit-1: 40%;
        --root-mean-lit-2: 35%;
        --root-mean-lit-3: 30%;
        --root-mean-lit-4: 25%;

        /* accent */
        --accent-hue: 0deg;
        --accent-sat: 0%;
        --accent-lit: 10%;
        --accent-alp: 0.2;

        --red-hue: 0deg;
        --red-sat: 100%;
        --red-lit: 15%;
        --red-alp: 0.2;

        --orange-hue: 30deg;
        --orange-sat: 100%;
        --orange-lit: 15%;
        --orange-alp: 0.2;

        --yellow-hue: 50deg;
        --yellow-sat: 100%;
        --yellow-lit: 15%;
        --yellow-alp: 0.2;

        --green-hue: 150deg;
        --green-sat: 100%;
        --green-lit: 15%;
        --green-alp: 0.2;

        --blue-hue: 200deg;
        --blue-sat: 100%;
        --blue-lit: 15%;
        --blue-alp: 0.2;

        --purple-hue: 250deg;
        --purple-sat: 100%;
        --purple-lit: 15%;
        --purple-alp: 0.2;

        --pink-hue: 300deg;
        --pink-sat: 100%;
        --pink-lit: 15%;
        --pink-alp: 0.2;

        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {

    :root,
    ::backdrop {

        /* --root-hue: 200deg;
        --root-sat: 0%;
        --root-lit: 0%;
        --root-alp: 0.5; */

        --root-back-hue: 200deg;
        --root-back-sat: 0%;
        --root-back-lit: 0%;
        --root-back-alp: 0.5;

        --root-mean-hue: 200deg;
        --root-mean-sat: 0%;
        --root-mean-lit: 65%;
        --root-mean-alp: 0.5;

        --root-fore-hue: 200deg;
        --root-fore-sat: 0%;
        --root-fore-lit: 90%;
        --root-fore-alp: 0.5;

        --root-accent-hue: 200deg;
        --root-accent-sat: 0%;
        --root-accent-lit: 100%;
        --root-accent-alp: 0.5;

        --red-fore-hue: 0deg;
        --red-back-hue: 0deg;

        --orange-fore-hue: 30deg;
        --orange-back-hue: 30deg;

        --yellow-fore-hue: 50deg;
        --yellow-back-hue: 50deg;

        --green-fore-hue: 150deg;
        --green-back-hue: 150deg;

        --blue-fore-hue: 215deg;
        --blue-back-hue: 215deg;

        --purple-fore-hue: 270deg;
        --purple-back-hue: 270deg;

        --pink-fore-hue: 300deg;
        --pink-back-hue: 300deg;

        --color-fore-sat: 100%;
        --color-fore-lit: 85%;
        --color-fore-alp: 1;

        --color-back-sat: 100%;
        --color-back-lit: 15%;
        --color-back-alp: 0.5;

        /*
        --root-fore-sat: 100%;
        --root-fore-lit: 85%;
        --root-fore-alp: 1;

        --root-back-sat: 100%;
        --root-back-lit: 15%;
        --root-back-alp: 0.5; */

        /* accent */
        --accent-hue: 0deg;
        --accent-sat: 0%;
        --accent-lit: 90%;
        --accent-alp: 0.2;

        --red-hue: 0deg;
        --red-sat: 100%;
        --red-lit: 80%;
        --red-alp: 0.2;

        --orange-hue: 30deg;
        --orange-sat: 100%;
        --orange-lit: 80%;
        --orange-alp: 0.2;

        --yellow-hue: 50deg;
        --yellow-sat: 100%;
        --yellow-lit: 80%;
        --yellow-alp: 0.2;

        --green-hue: 150deg;
        --green-sat: 100%;
        --green-lit: 80%;
        --green-alp: 0.2;

        --blue-hue: 215deg;
        --blue-sat: 100%;
        --blue-lit: 80%;
        --blue-alp: 0.5;

        --purple-hue: 270deg;
        --purple-sat: 100%;
        --purple-lit: 80%;
        --purple-alp: 0.5;

        --pink-hue: 300deg;
        --pink-sat: 100%;
        --pink-lit: 80%;
        --pink-alp: 0.5;

        color-scheme: dark;
    }
}

:root,
::backdrop {

    --error-hue: var(--red-hue);
    --error-sat: var(--red-sat);
    --error-lit: var(--red-lit);
    --error-alp: var(--red-alp);

    --success-hue: var(--green-hue);
    --success-sat: var(--green-sat);
    --success-lit: var(--green-lit);
    --success-alp: var(--green-alp);

    --safe-hue: var(--blue-hue);
    --safe-sat: var(--blue-sat);
    --safe-lit: var(--blue-lit);
    --safe-alp: var(--blue-alp);

    --warn-hue: var(--yellow-hue);
    --warn-sat: var(--yellow-sat);
    --warn-lit: var(--yellow-lit);
    --warn-alp: var(--yellow-alp);

    --transition:
        linear color 150ms,
        linear border 150ms,
        linear outline 150ms,
        linear opacity 150ms,
        linear transform 150ms,
        linear box-shadow 150ms,
        linear border-radius 150ms,
        linear background-color 150ms;
    /* linear background 150ms, */

    --font-size: 18px;
    --font-family: sans-serif;

    --radio-size: 1.25rem;
    --checkbox-size: 1.25rem;

    --margin: 0.25rem;
    --padding: 0.25rem;

    /* border */
    --border-width: 2px;
    --border-style: solid;
    --border-radius: 0.25rem;

    --border-width-disabled: 2px;
    --border-style-disabled: dotted;
    /* border */

    --main-margin: 0;
    --main-padding: 2vh 15vw;

    /* button */
    --button-margin: 0.15rem;
    --button-padding: 0.5rem;
    --button-border-radius: 1rem;
    --button-border-width: var(--border-width);
    --button-border-style: var(--border-style);

    --button-border-radius-active: 1rem;

    --button-border-style-disabled: var(--border-style-disabled);
    --button-border-width-disabled: var(--border-width-disabled);
    /* button */

    /* dialog */
    --dialog-backdrop-filter: blur(10px);
    --dialog-border-radius: var(--border-radius);
    --dialog-backdrop-transition: var(--transition);
    --dialog-backdrop-background: hsl(0deg, 0%, 50% / 50%);
    /* dialog */

    /* details */
    --details-border-style: var(--border-style);
    --details-border-width: var(--border-width);
    --details-border-radius: var(--border-radius);
    /* details*/

    /* progress */
    --progress-accent: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));
    --progress-background: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit), var(--accent-alp));
    --progress-border-radius: var(--border-radius);
    /* progress */

    --label-border-radius: var(--border-radius);
    --toast-border-radius: var(--border-radius);
    --article-border-radius: var(--border-radius);
    --fieldset-border-radius: var(--border-radius);

    --icon-down: polygon(12% 25%, 50% 55%, 88% 25%, 100% 40%, 50% 80%, 0% 40%);
    --icon-up: polygon(0% 70%, 50% 25%, 100% 70%, 85% 85%, 50% 55%, 15% 85%);

    /* colors body */
    --body-back-hue: var(--root-back-hue);
    --body-back-sat: var(--root-back-sat);
    --body-back-lit: var(--root-back-lit);
    --body-back-alp: var(--root-back-alp);

    --body-mean-hue: var(--root-mean-hue);
    --body-mean-sat: var(--root-mean-sat);
    --body-mean-lit: var(--root-mean-lit);
    --body-mean-alp: var(--root-mean-alp);

    --body-fore-hue: var(--root-fore-hue);
    --body-fore-sat: var(--root-fore-sat);
    --body-fore-lit: var(--root-fore-lit);
    --body-fore-alp: var(--root-fore-alp);

    --body-accent-hue: var(--root-accent-hue);
    --body-accent-sat: var(--root-accent-sat);
    --body-accent-lit: var(--root-accent-lit);
    --body-accent-alp: var(--root-accent-alp);
    /* colors body */

    /* colors article */
    --article-back-hue: var(--root-back-hue);
    --article-back-sat: var(--root-back-sat);
    --article-back-lit: var(--root-mean-lit);
    --article-back-alp: var(--root-back-alp);

    --article-mean-hue: var(--root-mean-hue);
    --article-mean-sat: var(--root-mean-sat);
    --article-mean-lit: var(--root-back-lit);
    --article-mean-alp: var(--root-mean-alp);

    --article-fore-hue: var(--root-fore-hue);
    --article-fore-sat: var(--root-fore-sat);
    --article-fore-lit: var(--root-fore-lit);
    --article-fore-alp: var(--root-fore-alp);

    --article-accent-hue: var(--root-accent-hue);
    --article-accent-sat: var(--root-accent-sat);
    --article-accent-lit: var(--root-accent-lit);
    --article-accent-alp: var(--root-accent-alp);
    /* colors article */

    font-size: var(--font-size);
    font-family: var(--font-family);
    color: hsl(var(--fore-hue), var(--fore-sat), var(--fore-lit));
    background: hsl(var(--back-hue), var(--back-sat), var(--back-lit));
    accent-color: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lit));

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    min-height: 100%;
    max-height: 100%;

    overflow: hidden;
}

template,
[hidden],
:not(:defined) {
    display: none !important;
}

:where(audio, canvas, iframe, img, svg, video) {
    vertical-align: middle;
}